<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attachanimatedcontainer</key>
	<string>metadataDuration</string>
	<key>constantHue</key>
	<string>permissiveResponse</string>
	<key>consumptionContrast</key>
	<string>shouldPopCosine</string>
	<key>mapanddecorator</key>
	<string>denseCurve</string>
	<key>playbackIndex</key>
	<string>symbolShape</string>
	<key>replicatecertificate</key>
	<string>reconcileParticle</string>
	<key>sustainableMechanism</key>
	<string>divideSprite</string>
	<key>techniqueType</key>
	<string>savecoordinator</string>
</dict>
</plist>
