<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindmap</key>
	<string>mediumCaption</string>
	<key>bulletandcycle</key>
	<string>shouldCacheCanvas</string>
	<key>custompainttheme</key>
	<string>giftFramework</string>
	<key>futureamongstructure</key>
	<string>logTag</string>
	<key>metricsStatus</key>
	<string>emitError</string>
	<key>pinchableTitle</key>
	<string>reactiveChallenge</string>
	<key>responsiveDialogs</key>
	<string>creatorbehavior</string>
	<key>shouldTransformDecoration</key>
	<string>shaderDuration</string>
	<key>staticcubit</key>
	<string>widgetname</string>
	<key>uniqueListener</key>
	<string>touchSize</string>
</dict>
</plist>
