<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constantBorder</key>
	<string>resizableDelivery</string>
	<key>diversifiedTangent</key>
	<string>pivotalservice</string>
	<key>profileaction</key>
	<string>beginnerFuture</string>
	<key>requiredMovement</key>
	<string>shouldParseUnary</string>
	<key>tweakIndex</key>
	<string>customizedPet</string>
</dict>
</plist>
