<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionfuturefeedback</key>
	<string>directlyWrapper</string>
	<key>capacitiesmenu</key>
	<string>callbackPattern</string>
	<key>optionType</key>
	<string>durationhead</string>
	<key>rapidSemantics</key>
	<string>updateCosine</string>
	<key>shouldskipgram</key>
	<string>upgradetextfield</string>
</dict>
</plist>
