<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectdecoration</key>
	<string>selectedPositioned</string>
	<key>currentprofile</key>
	<string>initializeAnimation</string>
	<key>disclaimerRight</key>
	<string>hyperbolicProfile</string>
	<key>intermediateInteger</key>
	<string>resilienceSkewX</string>
	<key>mediocreStrength</key>
	<string>subscriptionBrightness</string>
	<key>modelduration</key>
	<string>canResumeGram</string>
	<key>modelmodetail</key>
	<string>easyCell</string>
	<key>shouldDispatchAccessory</key>
	<string>shouldNavigateBehavior</string>
</dict>
</plist>
