<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentgraphic</key>
	<string>pointProxy</string>
	<key>greatExponent</key>
	<string>metadataObserver</string>
	<key>mutablemodelflags</key>
	<string>particlealongtemple</string>
	<key>playbacknearplatform</key>
	<string>canPresentComposition</string>
	<key>reactiveText</key>
	<string>marginCount</string>
</dict>
</plist>
