<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilegrainflags</key>
	<string>canTrainPositioned</string>
	<key>axisVisible</key>
	<string>retainedBatch</string>
	<key>crudeMaterial</key>
	<string>activevideo</string>
	<key>lazyRange</key>
	<string>criticalNotifier</string>
	<key>logarithmhue</key>
	<string>canContinueModal</string>
	<key>prevBase</key>
	<string>mobileRole</string>
	<key>profilenavigator</key>
	<string>regulateService</string>
	<key>symbolColor</key>
	<string>immediateConfiguration</string>
	<key>topicDensity</key>
	<string>viewstateformat</string>
	<key>topicresponse</key>
	<string>providerCount</string>
</dict>
</plist>
