<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionorientation</key>
	<string>customDistinction</string>
	<key>controllerDelay</key>
	<string>loadUnary</string>
	<key>draggableJoiner</key>
	<string>scrollableBuffer</string>
	<key>graphhead</key>
	<string>usedarchitecture</string>
	<key>musicBrightness</key>
	<string>canPauseUnary</string>
	<key>parallelWidget</key>
	<string>prepareOperation</string>
	<key>seamlessMargin</key>
	<string>benchmarkMethod</string>
	<key>shapeOrigin</key>
	<string>localInkWell</string>
	<key>tabviewscale</key>
	<string>updateBox</string>
	<key>webStateful</key>
	<string>momentumRate</string>
</dict>
</plist>
