<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAperture</key>
	<string>sophisticatedAwait</string>
	<key>commonTabView</key>
	<string>cupertinocoordinatoralignment</string>
	<key>cupertinooffset</key>
	<string>shoulddispatchconvolution</string>
	<key>currentallocator</key>
	<string>standaloneRectangle</string>
	<key>denseButton</key>
	<string>canTransformCanvas</string>
	<key>detachhero</key>
	<string>baseappearance</string>
	<key>functionalConvolution</key>
	<string>respectiveChannels</string>
	<key>publicRecursion</key>
	<string>fragmentSkewY</string>
	<key>tabbartransition</key>
	<string>taskDelay</string>
	<key>unmountevent</key>
	<string>shouldNavigateTouch</string>
</dict>
</plist>
