<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphatail</key>
	<string>comprehensiveThroughput</string>
	<key>clipperbridgeindex</key>
	<string>canContinueBox</string>
	<key>delegateDepth</key>
	<string>currentConstant</string>
	<key>dynamicChart</key>
	<string>catalystInset</string>
	<key>futurekind</key>
	<string>difficultMenu</string>
	<key>inactiveEntity</key>
	<string>sharedGram</string>
	<key>mainRectangle</key>
	<string>canSetStateCache</string>
	<key>restrictionsize</key>
	<string>animateEffect</string>
	<key>subsequentPadding</key>
	<string>popupOrientation</string>
</dict>
</plist>
