<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticVideo</key>
	<string>stepAcceleration</string>
	<key>asynckind</key>
	<string>resizableStep</string>
	<key>dedicatedLocalization</key>
	<string>shouldStreamEquipment</string>
	<key>geometricMusic</key>
	<string>shouldBindRichText</string>
	<key>prismaticOperation</key>
	<string>prepareRichText</string>
</dict>
</plist>
