<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetcontaininterpreter</key>
	<string>globalCursor</string>
	<key>awaitmediatorstatus</key>
	<string>processExtension</string>
	<key>configurationTint</key>
	<string>unsortedLog</string>
	<key>delicateAnalyzer</key>
	<string>documentRight</string>
	<key>gridStyle</key>
	<string>nativeImage</string>
	<key>listenerinset</key>
	<string>advancedTentative</string>
	<key>metadataAlignment</key>
	<string>customTextField</string>
	<key>nodedelay</key>
	<string>manageratprototype</string>
	<key>shouldInflateObserver</key>
	<string>escalateView</string>
	<key>shouldUnbindAlpha</key>
	<string>canParseSkin</string>
</dict>
</plist>
