<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperSkewX</key>
	<string>durationDensity</string>
	<key>cupertinoDetail</key>
	<string>shaderpadding</string>
	<key>grainbound</key>
	<string>savePoint</string>
	<key>layersystemstatus</key>
	<string>directProtocol</string>
	<key>numericalCosine</key>
	<string>materialMetrics</string>
	<key>previewscale</key>
	<string>streamvarformat</string>
	<key>semanticdocumentleft</key>
	<string>storageTag</string>
	<key>unactivatedGestureDetector</key>
	<string>ephemeralNotifier</string>
	<key>uniqueView</key>
	<string>unaryValidation</string>
</dict>
</plist>
