<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordioncube</key>
	<string>popTheme</string>
	<key>activatedSkirt</key>
	<string>activatedAwait</string>
	<key>euclideanPainter</key>
	<string>extensiontimer</string>
	<key>largeAlert</key>
	<string>maxAnchor</string>
	<key>masterPressure</key>
	<string>immutableElement</string>
	<key>shouldFormatExtension</key>
	<string>shouldUnmountedMultiplication</string>
	<key>streamnumberleft</key>
	<string>relationalFlex</string>
</dict>
</plist>
