<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxHue</key>
	<string>efficiencyFlags</string>
	<key>commonResilience</key>
	<string>generateIsolate</string>
	<key>globalMetadata</key>
	<string>multiDecoration</string>
	<key>menuShape</key>
	<string>missedMaterial</string>
	<key>paddingwithmemento</key>
	<string>desktopRadio</string>
	<key>presenterDepth</key>
	<string>canContinueScaffold</string>
	<key>removelistener</key>
	<string>currentsegmentdirection</string>
	<key>semanticSample</key>
	<string>customizedProfile</string>
	<key>shouldMountedAlpha</key>
	<string>keepAlert</string>
	<key>staticColumn</key>
	<string>mutableResult</string>
</dict>
</plist>
