<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileresourcekind</key>
	<string>usedallocator</string>
	<key>challengestyledensity</key>
	<string>mapRate</string>
	<key>customOperation</key>
	<string>searcherAlignment</string>
	<key>draggablesearcher</key>
	<string>delegatevolume</string>
	<key>entitylikescope</key>
	<string>inactiveSplitter</string>
	<key>explicitstatelocation</key>
	<string>desktopChallenge</string>
	<key>primaryChart</key>
	<string>awaitScale</string>
	<key>sliderRotation</key>
	<string>shouldPopMonster</string>
	<key>sortedGraphic</key>
	<string>activateAnimation</string>
	<key>threadconsumer</key>
	<string>canDismissText</string>
</dict>
</plist>
