<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocviamode</key>
	<string>enabledNode</string>
	<key>granulardrawerfeedback</key>
	<string>checklistStage</string>
	<key>pinchableGram</key>
	<string>replaceTable</string>
	<key>transitionpresenter</key>
	<string>pinchableSubscriber</string>
</dict>
</plist>
