<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBuffer</key>
	<string>unlockHandler</string>
	<key>asynchronousDropdownButton</key>
	<string>encodeLabel</string>
	<key>compositiontype</key>
	<string>hyperbolicParticle</string>
	<key>euclideanSink</key>
	<string>shouldStartCosine</string>
	<key>immediateStroke</key>
	<string>canRouteAspectRatio</string>
	<key>maintainhero</key>
	<string>sustainableTool</string>
	<key>pivotalDetail</key>
	<string>listenMobile</string>
	<key>typicalCupertino</key>
	<string>attachSlash</string>
	<key>undertakecell</key>
	<string>deferredCursor</string>
</dict>
</plist>
