<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameDistance</key>
	<string>subscriberSaturation</string>
	<key>impactinterval</key>
	<string>granularMechanism</string>
	<key>lazyInterpolation</key>
	<string>discardedAudio</string>
	<key>permissiveInfrastructure</key>
	<string>intermediateIntegration</string>
	<key>shouldMountedTask</key>
	<string>characteristicRotation</string>
	<key>transitiontype</key>
	<string>channelsContext</string>
</dict>
</plist>
