<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>permissiveCompleter</key>
	<string>shouldBindGestureDetector</string>
	<key>quaternionindex</key>
	<string>masterSpeed</string>
	<key>remediationBehavior</key>
	<string>marginTier</string>
	<key>tensorPromise</key>
	<string>shouldDetachCard</string>
</dict>
</plist>
