<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDescent</key>
	<string>prismaticThreshold</string>
	<key>firstSign</key>
	<string>refreshGroup</string>
	<key>localReceiver</key>
	<string>shouldStartListView</string>
	<key>selectedCurve</key>
	<string>persistentAnimatedContainer</string>
	<key>shouldMountedAccessory</key>
	<string>usecaseformat</string>
	<key>smartWrapper</key>
	<string>discardedScenario</string>
	<key>statelessDuration</key>
	<string>aspectratiochapter</string>
	<key>typicaltickerinset</key>
	<string>opaqueProjection</string>
</dict>
</plist>
