<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintfilter</key>
	<string>checkText</string>
	<key>directSpot</key>
	<string>asyncPhase</string>
	<key>distinctionVisible</key>
	<string>mergerTint</string>
	<key>easyBatch</key>
	<string>hardMovement</string>
	<key>lazyButton</key>
	<string>animateGestureDetector</string>
	<key>quaternionVisible</key>
	<string>tangentPressure</string>
	<key>referencedelegate</key>
	<string>fixedCharacteristic</string>
	<key>sensorawayactivity</key>
	<string>triggerDelay</string>
	<key>shoulddispatchmobile</key>
	<string>canPrepareMonster</string>
</dict>
</plist>
