<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicHandler</key>
	<string>standaloneMetadata</string>
	<key>intuitiveRect</key>
	<string>synchronizeInterface</string>
	<key>usecasewithoutchain</key>
	<string>herofinder</string>
</dict>
</plist>
