<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerPadding</key>
	<string>trajectoryMomentum</string>
	<key>keyChannels</key>
	<string>explicitZone</string>
	<key>robustStream</key>
	<string>fusedOperation</string>
	<key>shouldCancelVariant</key>
	<string>completerAction</string>
	<key>shouldFinishGem</key>
	<string>canDispatchDimension</string>
</dict>
</plist>
