<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudePainter</key>
	<string>alertversusenvironment</string>
	<key>gateDistance</key>
	<string>respectiveBitrate</string>
	<key>immutableLinker</key>
	<string>timertaskcolor</string>
	<key>invisibleOperation</key>
	<string>shouldformatmember</string>
	<key>materialShape</key>
	<string>distinctionRotation</string>
	<key>priorBox</key>
	<string>viewpressure</string>
	<key>shouldProcessText</key>
	<string>unactivatedPreview</string>
	<key>uniformLatency</key>
	<string>subsequentLoop</string>
</dict>
</plist>
