<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedOccasion</key>
	<string>catalystAction</string>
	<key>customRestriction</key>
	<string>lastRect</string>
	<key>descriptionvelocity</key>
	<string>instructionAppearance</string>
	<key>diversifiedPet</key>
	<string>canFetchNotifier</string>
	<key>propagateslash</key>
	<string>subscribeDescriptor</string>
	<key>shouldLoadStep</key>
	<string>delegateformalignment</string>
</dict>
</plist>
