<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelstroke</key>
	<string>priorDropdownButton</string>
	<key>hasExponent</key>
	<string>mediaqueryName</string>
	<key>sampleRight</key>
	<string>draggableanimation</string>
	<key>shouldTransitionSymbol</key>
	<string>materialActivity</string>
</dict>
</plist>
