<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSymbol</key>
	<string>invisibleAppBar</string>
	<key>asynchronousrowshape</key>
	<string>flexibleNorm</string>
	<key>delicateMonster</key>
	<string>revisitBuffer</string>
	<key>intuitiveTabBar</key>
	<string>addResponse</string>
	<key>missedPadding</key>
	<string>indicatorSpacing</string>
</dict>
</plist>
