<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicExtension</key>
	<string>shouldAnimateOverlay</string>
	<key>fixedresponsedepth</key>
	<string>reducerOperation</string>
	<key>imperativeDistinction</key>
	<string>momentumWork</string>
	<key>manageredge</key>
	<string>signaturePattern</string>
	<key>mediumException</key>
	<string>canCreateAspectRatio</string>
	<key>metadatamomentum</key>
	<string>semanticSignature</string>
	<key>reactiveScaffold</key>
	<string>shouldStopLog</string>
	<key>unactivatedLoader</key>
	<string>displayableGift</string>
	<key>usagesorter</key>
	<string>instructionFlyweight</string>
</dict>
</plist>
