<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediaamongcycle</key>
	<string>liteTimer</string>
	<key>shouldDisconnectAnchor</key>
	<string>localizationFlags</string>
	<key>synchronousScaffold</key>
	<string>singletonlayerspacing</string>
	<key>tappableTraversal</key>
	<string>layoutsubscription</string>
</dict>
</plist>
