<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>holdintensity</key>
	<string>declarativePosition</string>
	<key>pagerInteraction</key>
	<string>functionalElasticity</string>
	<key>primaryShader</key>
	<string>dismissSink</string>
	<key>restrictionMomentum</key>
	<string>titleValue</string>
	<key>routerMargin</key>
	<string>multiplicationRate</string>
	<key>selectedIndicator</key>
	<string>directcluster</string>
	<key>shapeTransparency</key>
	<string>dismissManager</string>
</dict>
</plist>
