<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicTopic</key>
	<string>notificationPadding</string>
	<key>easyGrain</key>
	<string>skindecoratorfeedback</string>
	<key>shouldValidateCapsule</key>
	<string>controllercallback</string>
	<key>statusOpacity</key>
	<string>shouldMountedAlpha</string>
</dict>
</plist>
