<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRepository</key>
	<string>renderLayout</string>
	<key>animatedCursor</key>
	<string>interpolationmaterializer</string>
	<key>cartesianfactoryname</key>
	<string>workflowBridge</string>
	<key>consultativeDistinction</key>
	<string>responsiveOverlay</string>
	<key>criticalWrapper</key>
	<string>shouldPopEqualization</string>
	<key>keyAnimation</key>
	<string>diversifiedDispatcher</string>
	<key>localSemantics</key>
	<string>shouldunmountedspecifier</string>
	<key>optimizehandler</key>
	<string>customCaption</string>
	<key>seekbutton</key>
	<string>renameModel</string>
	<key>storepresenter</key>
	<string>videoSpacing</string>
</dict>
</plist>
