<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardLatency</key>
	<string>shouldKeepCube</string>
	<key>diffableWorkflow</key>
	<string>paddingAppearance</string>
	<key>mutableCheckbox</key>
	<string>commonAction</string>
	<key>scrollableScalability</key>
	<string>statefulleft</string>
</dict>
</plist>
