<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeAudio</key>
	<string>assetSpacing</string>
	<key>multiplicationopacity</key>
	<string>detachTool</string>
	<key>permissiveProject</key>
	<string>cleanBuffer</string>
	<key>shouldContinueScaffold</key>
	<string>canPrepareSpine</string>
	<key>shouldCreateInteger</key>
	<string>protocolDistance</string>
	<key>shouldRouteResource</key>
	<string>optimizerScope</string>
	<key>statelessmapper</key>
	<string>integerstate</string>
</dict>
</plist>
