<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorEdge</key>
	<string>statelessradius</string>
	<key>disparateThroughput</key>
	<string>cycleDelay</string>
	<key>formatgridview</key>
	<string>showScale</string>
	<key>interfacedelay</key>
	<string>marginShade</string>
	<key>intuitiveSprite</key>
	<string>shouldSkipBox</string>
	<key>scaffoldSkewY</key>
	<string>shouldSkipReduction</string>
	<key>secondIntensity</key>
	<string>otherTexture</string>
	<key>specifySubscription</key>
	<string>constraintmend</string>
	<key>statusOrientation</key>
	<string>operationtaxonomy</string>
	<key>unsortedTweak</key>
	<string>globalcard</string>
</dict>
</plist>
