<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actiondirection</key>
	<string>interactiveGem</string>
	<key>crucialDelivery</key>
	<string>bitrateSkewY</string>
	<key>delicateInterface</key>
	<string>resultEnvironment</string>
	<key>mediumTangent</key>
	<string>firstcomponent</string>
	<key>responsearchitecture</key>
	<string>performIsolate</string>
	<key>sequentialLabel</key>
	<string>bindMission</string>
	<key>shouldUnbindPrecision</key>
	<string>canStreamBuilder</string>
	<key>textureInterval</key>
	<string>invisibleTernary</string>
</dict>
</plist>
