<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAction</key>
	<string>decorationCenter</string>
	<key>arithmeticGrayscale</key>
	<string>accessibleAspect</string>
	<key>commonevent</key>
	<string>toolawaykind</string>
	<key>contractiontheme</key>
	<string>shouldRestartFragment</string>
	<key>crucialComposition</key>
	<string>binarygrain</string>
	<key>indicatortag</key>
	<string>aspectratioRight</string>
	<key>lazyBandwidth</key>
	<string>allocateGrain</string>
	<key>scenarioDepth</key>
	<string>prismaticConnector</string>
	<key>symmetricTopic</key>
	<string>releaseAsync</string>
</dict>
</plist>
