<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilePresenter</key>
	<string>cupertinoSession</string>
	<key>capacitiesSpeed</key>
	<string>selectedgram</string>
	<key>cursortaxonomy</key>
	<string>missedNorm</string>
	<key>reactiveListView</key>
	<string>crucialChecklist</string>
	<key>semanticStamp</key>
	<string>composableFragments</string>
	<key>staticPermutation</key>
	<string>firstCatalyst</string>
	<key>subtleEvaluation</key>
	<string>canConnectBinary</string>
	<key>widgetmementoedge</key>
	<string>gesturedetectorAppearance</string>
</dict>
</plist>
