<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCharacter</key>
	<string>handlerForce</string>
	<key>activitysystemright</key>
	<string>receivecycle</string>
	<key>arithmeticRouter</key>
	<string>crucialRow</string>
	<key>densecolumn</key>
	<string>spineValue</string>
	<key>localAppBar</key>
	<string>clipperdensity</string>
	<key>radioRate</key>
	<string>canEmitTable</string>
</dict>
</plist>
