<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileWrapper</key>
	<string>notifyModel</string>
	<key>declarativePosition</key>
	<string>profileCallback</string>
	<key>functionalGraph</key>
	<string>regulateMethod</string>
	<key>immediateSprite</key>
	<string>animationrotation</string>
	<key>logstore</key>
	<string>shouldCacheStateless</string>
</dict>
</plist>
