<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveSkirt</key>
	<string>persistentDocument</string>
	<key>entitylayerorigin</key>
	<string>originalMobile</string>
	<key>similarSizedBox</key>
	<string>cartesianSlash</string>
	<key>standaloneInfo</key>
	<string>sophisticatedArchitecture</string>
	<key>staticContraction</key>
	<string>shouldUnmountLogarithm</string>
</dict>
</plist>
