<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparatesize</key>
	<string>managerDuration</string>
	<key>dynamicConvolution</key>
	<string>canTransitionStateless</string>
	<key>equivalentcount</key>
	<string>cubitDistance</string>
	<key>exceptionexceptparam</key>
	<string>activateanimation</string>
	<key>lostTheme</key>
	<string>shouldValidateFragment</string>
	<key>utilShade</key>
	<string>smallPreview</string>
</dict>
</plist>
