<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessorytolerance</key>
	<string>modelfortier</string>
	<key>advancedAperture</key>
	<string>listviewFramework</string>
	<key>apertureShape</key>
	<string>inheritedSemantics</string>
	<key>decorationDensity</key>
	<string>integerinformation</string>
	<key>intuitiveTween</key>
	<string>sorterAcceleration</string>
	<key>invisibleImpact</key>
	<string>immutableUtil</string>
</dict>
</plist>
