<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselinenearenvironment</key>
	<string>unmarshalReducer</string>
	<key>cupertinoasshape</key>
	<string>decodeCubit</string>
	<key>currentaperture</key>
	<string>statefulcompletion</string>
	<key>evolutionCoord</key>
	<string>descriptorinsidework</string>
	<key>flexibleBrush</key>
	<string>canResumeKernel</string>
	<key>meshVisibility</key>
	<string>invisibleChecklist</string>
	<key>mobilesink</key>
	<string>granularDuration</string>
</dict>
</plist>
