<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerindex</key>
	<string>publicStream</string>
	<key>crucialLoader</key>
	<string>opaquecontroller</string>
	<key>currentSorter</key>
	<string>unactivatedPromise</string>
	<key>declarativeZone</key>
	<string>shouldHandleCosine</string>
	<key>invokealert</key>
	<string>semanticIntegration</string>
	<key>similarCursor</key>
	<string>dataFeedback</string>
	<key>webBinary</key>
	<string>flexIndex</string>
</dict>
</plist>
