<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatMetrics</key>
	<string>mountedSign</string>
	<key>immutableFuture</key>
	<string>eraseDecoration</string>
	<key>imperativeConsumption</key>
	<string>invokeCallback</string>
	<key>requiredGraphic</key>
	<string>accelerateParticle</string>
	<key>responsiveCycle</key>
	<string>localizationActivity</string>
</dict>
</plist>
