<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleHash</key>
	<string>dialogsTransparency</string>
	<key>asyncResponse</key>
	<string>injectionwithoutprocess</string>
	<key>builderDirection</key>
	<string>receivebase</string>
	<key>customStamp</key>
	<string>customEmitter</string>
	<key>materialBottom</key>
	<string>cupertinoDuration</string>
	<key>notificationInteraction</key>
	<string>zoneParam</string>
	<key>reactiveComponent</key>
	<string>menuCount</string>
	<key>shouldCancelInstruction</key>
	<string>shouldTransformBox</string>
	<key>techniqueprovision</key>
	<string>currentSplitter</string>
</dict>
</plist>
