<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowTag</key>
	<string>masterEnvironment</string>
	<key>curveOrigin</key>
	<string>gemScale</string>
	<key>delicateCreator</key>
	<string>shouldDisposeWorkflow</string>
	<key>discoverticker</key>
	<string>shouldEndCosine</string>
	<key>shouldAnimateEqualization</key>
	<string>priorMember</string>
</dict>
</plist>
