<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledextension</key>
	<string>rowFunction</string>
	<key>shouldTrainAperture</key>
	<string>shouldSerializeTextField</string>
</dict>
</plist>
