<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalRow</key>
	<string>parsecompleter</string>
	<key>iterativeConfidentiality</key>
	<string>projectParameter</string>
	<key>layoutatform</key>
	<string>tensorSample</string>
	<key>selectedPainter</key>
	<string>bufferTheme</string>
	<key>shouldStartSkirt</key>
	<string>protectedPresenter</string>
</dict>
</plist>
