<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedChannels</key>
	<string>nextSymbol</string>
	<key>clusterDistance</key>
	<string>scenedecoratormomentum</string>
	<key>crucialBuffer</key>
	<string>smallProjection</string>
	<key>seamlessintensity</key>
	<string>shouldFetchTextField</string>
	<key>shouldShowRichText</key>
	<string>cartesianInjection</string>
	<key>staticTable</key>
	<string>listenTernary</string>
	<key>throughputType</key>
	<string>canBindText</string>
</dict>
</plist>
