<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decodeproject</key>
	<string>imperativeBox</string>
	<key>gramMargin</key>
	<string>observerimpact</string>
	<key>retainedDrawer</key>
	<string>easyScroll</string>
	<key>sizedboxName</key>
	<string>canShowStoryboard</string>
	<key>webchallengedepth</key>
	<string>transposeOffset</string>
</dict>
</plist>
