<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorcontainoperation</key>
	<string>slashSingleton</string>
	<key>declarativeVertex</key>
	<string>activatedTool</string>
	<key>deliveryPosition</key>
	<string>canPersistActivity</string>
	<key>diversifiedExponent</key>
	<string>accessibleBuffer</string>
	<key>extensionbound</key>
	<string>canRebuildBox</string>
	<key>handlerTint</key>
	<string>granularCube</string>
	<key>hasnotifier</key>
	<string>semanticsShape</string>
	<key>serviceoperationscale</key>
	<string>refactorreduction</string>
</dict>
</plist>
