<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAnalogy</key>
	<string>permissiveInfo</string>
	<key>compositionTheme</key>
	<string>mediaqueryDelay</string>
	<key>concreteAllocator</key>
	<string>replaceStamp</string>
	<key>constraintshape</key>
	<string>dissociateError</string>
	<key>inactiveConsumption</key>
	<string>memberAcceleration</string>
	<key>shouldstreambuilder</key>
	<string>parallelColumn</string>
</dict>
</plist>
