<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainersystemmode</key>
	<string>accordionSubscription</string>
	<key>bordertype</key>
	<string>keyComponent</string>
	<key>completerawaycycle</key>
	<string>dynamicImpression</string>
	<key>consumerformat</key>
	<string>nibFrequency</string>
	<key>mediumScheduler</key>
	<string>associatedBloc</string>
	<key>musiclayerdirection</key>
	<string>canFormatAperture</string>
	<key>opaqueIsolate</key>
	<string>canLayoutTabBar</string>
	<key>resilientText</key>
	<string>shouldLayoutGate</string>
	<key>scrollableUseCase</key>
	<string>shouldRouteFlex</string>
	<key>shouldKeepCard</key>
	<string>shouldKeepThread</string>
</dict>
</plist>
