<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferalongsingleton</key>
	<string>advancedPrecision</string>
	<key>disparateinjection</key>
	<string>configureduration</string>
	<key>euclideanTransformer</key>
	<string>reconcilemediaquery</string>
	<key>sequentialAsync</key>
	<string>disparateDuration</string>
	<key>shouldKeepOptimizer</key>
	<string>monsterascent</string>
	<key>tappableError</key>
	<string>canParseAnimatedContainer</string>
</dict>
</plist>
