<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyMargin</key>
	<string>cellFramework</string>
	<key>euclideaninjectionduration</key>
	<string>draggableBitrate</string>
	<key>pagerAcceleration</key>
	<string>quantizerZone</string>
	<key>shadervisibility</key>
	<string>nativeConstant</string>
	<key>shouldReplaceProvider</key>
	<string>routeLoss</string>
	<key>subsequentNib</key>
	<string>transposeinterpolation</string>
</dict>
</plist>
