<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGrayscale</key>
	<string>completedAlpha</string>
	<key>convolutionSaturation</key>
	<string>inflateDecoration</string>
	<key>coordinatormediatoroffset</key>
	<string>respectiveresolvermomentum</string>
	<key>customizedCurve</key>
	<string>dispatchUsage</string>
	<key>denseSlider</key>
	<string>robustMaterial</string>
	<key>diffableTime</key>
	<string>shouldUpdateBrush</string>
	<key>tensormetadataposition</key>
	<string>convolutionFeedback</string>
</dict>
</plist>
