<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianEntity</key>
	<string>executeNavigator</string>
	<key>flexibleAnalyzer</key>
	<string>canEncodeBaseline</string>
	<key>pagerSkewY</key>
	<string>scaleLevel</string>
	<key>shouldParseMusic</key>
	<string>persistentConsumer</string>
</dict>
</plist>
