<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerprototypeflags</key>
	<string>exceptionFrequency</string>
	<key>encapsulatestate</key>
	<string>granularCosine</string>
	<key>globalBoxShadow</key>
	<string>chartInterpreter</string>
	<key>provisiontransparency</key>
	<string>shouldKeepMission</string>
	<key>refreshcontainer</key>
	<string>shouldBuildSizedBox</string>
	<key>shouldencodebehavior</key>
	<string>rebuildInteger</string>
	<key>widgetMode</key>
	<string>shapeStatus</string>
</dict>
</plist>
