<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregatedependency</key>
	<string>makeTicker</string>
	<key>directconsumer</key>
	<string>responsiveData</string>
	<key>rebuildservice</key>
	<string>arithmeticMission</string>
</dict>
</plist>
