<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableReliability</key>
	<string>newestQueue</string>
	<key>hardAnimator</key>
	<string>shouldCacheMaster</string>
	<key>projectinsidemediator</key>
	<string>paintertaxonomy</string>
	<key>unsortedCapacity</key>
	<string>opaqueReference</string>
</dict>
</plist>
