<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedinjectionskewy</key>
	<string>widgetenvironmentscale</string>
	<key>documentFlags</key>
	<string>shouldYieldVariant</string>
	<key>retainedScalability</key>
	<string>dynamicStatus</string>
	<key>shouldValidateCosine</key>
	<string>globalTolerance</string>
</dict>
</plist>
