<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicProgressBar</key>
	<string>significantcallbackcontrast</string>
	<key>confidentialityBottom</key>
	<string>mediaqueryworkkind</string>
	<key>largegem</key>
	<string>materialSkewY</string>
</dict>
</plist>
