<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedContraction</key>
	<string>shaderBorder</string>
	<key>eagerConfiguration</key>
	<string>grayscaleTail</string>
	<key>geometricroutebound</key>
	<string>referenceVelocity</string>
	<key>opaqueBatch</key>
	<string>shouldFormatMaster</string>
	<key>protocolBrightness</key>
	<string>mediumNotification</string>
	<key>shouldSubscribeSizedBox</key>
	<string>yieldThread</string>
	<key>transformermementotag</key>
	<string>shouldroutecomposition</string>
</dict>
</plist>
