<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregatemonster</key>
	<string>managerEdge</string>
	<key>arithmeticCertificate</key>
	<string>scalesingletonmargin</string>
	<key>componentMomentum</key>
	<string>temporaryCapacity</string>
	<key>currentclipper</key>
	<string>localAllocator</string>
	<key>primaryInteraction</key>
	<string>storeStorage</string>
	<key>shouldDisconnectGram</key>
	<string>callbackTheme</string>
	<key>shouldTransformGift</key>
	<string>observeBase</string>
</dict>
</plist>
