<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleDistance</key>
	<string>yieldProtocol</string>
	<key>mapperTag</key>
	<string>mediumStatus</string>
	<key>popuplocation</key>
	<string>priorGem</string>
	<key>shouldattachshader</key>
	<string>greatLogarithm</string>
</dict>
</plist>
