<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBottom</key>
	<string>updateAlert</string>
	<key>defaultdocument</key>
	<string>shouldValidateCosine</string>
	<key>exceptionOffset</key>
	<string>canSerializeTool</string>
	<key>geometricCapacity</key>
	<string>disposeWidget</string>
	<key>otherCurve</key>
	<string>immutablesinkresponse</string>
	<key>projectionInteraction</key>
	<string>shouldDismissObserver</string>
	<key>shouldCacheMission</key>
	<string>navigatorscale</string>
	<key>specifyShape</key>
	<string>unactivatedSprite</string>
</dict>
</plist>
