<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorLocation</key>
	<string>diversifiedJoiner</string>
	<key>hasProfile</key>
	<string>canShowCustomPaint</string>
	<key>interactivebinaryorientation</key>
	<string>unsortedCharacter</string>
	<key>multiplicationpadding</key>
	<string>temporaryPager</string>
	<key>permutationBorder</key>
	<string>reduceAnimation</string>
	<key>temporarySkirt</key>
	<string>compositionalVertex</string>
	<key>uniformUseCase</key>
	<string>enhanceCallback</string>
</dict>
</plist>
