<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralresponse</key>
	<string>canListenMaterial</string>
	<key>graphicshape</key>
	<string>transitionInterval</string>
	<key>limitswitch</key>
	<string>protectedScope</string>
	<key>quaternionTint</key>
	<string>modelnumberdistance</string>
	<key>respectiveTable</key>
	<string>canCancelConsumer</string>
	<key>shouldStopSegue</key>
	<string>hardAppBar</string>
</dict>
</plist>
