<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticawayinterpreter</key>
	<string>cupertinoreceiver</string>
	<key>gradientPressure</key>
	<string>storageStyle</string>
	<key>graindrawer</key>
	<string>compareGraph</string>
	<key>graphicInteraction</key>
	<string>modelTail</string>
	<key>permissiveisolatepadding</key>
	<string>projectionRight</string>
	<key>progressbarHead</key>
	<string>cartesianPlayback</string>
	<key>shouldSerializeModal</key>
	<string>shearChannel</string>
	<key>signStyle</key>
	<string>routeOverlay</string>
</dict>
</plist>
