<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectDuration</key>
	<string>intuitiveGraph</string>
	<key>enabledDecoration</key>
	<string>grayscaleState</string>
	<key>flexSpacing</key>
	<string>multiMultiplication</string>
	<key>independentSize</key>
	<string>behaviorSpeed</string>
	<key>mainPublisher</key>
	<string>initializeLabel</string>
	<key>multiplycustompaint</key>
	<string>sortedCatalyst</string>
	<key>selectedBullet</key>
	<string>completedRadio</string>
</dict>
</plist>
