<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateEdge</key>
	<string>webPadding</string>
	<key>graphpercommand</key>
	<string>instructiondetail</string>
	<key>vectorBehavior</key>
	<string>canRebuildReduction</string>
</dict>
</plist>
