<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedAscent</key>
	<string>reduceGraph</string>
	<key>detachprofile</key>
	<string>desktopProvision</string>
	<key>exceptionVisible</key>
	<string>shouldPublishScale</string>
	<key>impressionKind</key>
	<string>largeRouter</string>
	<key>matrixMode</key>
	<string>comprehensiveMechanism</string>
	<key>modelpressure</key>
	<string>deserializeUnary</string>
	<key>prismaticRole</key>
	<string>ignoredSubscriber</string>
	<key>relationallabelduration</key>
	<string>playError</string>
	<key>roleshape</key>
	<string>disclaimerDuration</string>
	<key>topicCenter</key>
	<string>remainderDelay</string>
</dict>
</plist>
