<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableTolerance</key>
	<string>comprehensiveIntegrity</string>
	<key>crudeEvent</key>
	<string>canInflateRoute</string>
	<key>descriptionschema</key>
	<string>equivalentSpacing</string>
	<key>filterTop</key>
	<string>protectedLifecycle</string>
	<key>persistentEvolution</key>
	<string>advancedListener</string>
	<key>pivotalRenderer</key>
	<string>previewContext</string>
	<key>protectedModulus</key>
	<string>resizableNib</string>
	<key>shouldSkipSpot</key>
	<string>shouldlistenpainter</string>
	<key>tensorWrapper</key>
	<string>particleLeft</string>
	<key>visibleCombiner</key>
	<string>quaternionLocation</string>
</dict>
</plist>
