<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clusterDensity</key>
	<string>rowOrigin</string>
	<key>customizedDetail</key>
	<string>enabledNotation</string>
	<key>gradientHue</key>
	<string>sortedIntensity</string>
	<key>hascursor</key>
	<string>handletexture</string>
	<key>queuefacadehue</key>
	<string>consultativeInteger</string>
	<key>resolvermethodoffset</key>
	<string>uniformRemediation</string>
</dict>
</plist>
