<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>converterHue</key>
	<string>mediaqueryvariablescale</string>
	<key>desktopfactoryname</key>
	<string>canSaveCurve</string>
	<key>dimensionpatterninterval</key>
	<string>reducerInset</string>
	<key>intermediateOption</key>
	<string>taskMargin</string>
	<key>shouldSerializeMission</key>
	<string>hyperbolicStoryboard</string>
	<key>statefultheme</key>
	<string>delicateObserver</string>
	<key>textfieldVelocity</key>
	<string>canEncodeCanvas</string>
	<key>zoneFrequency</key>
	<string>symmetricRemediation</string>
</dict>
</plist>
