<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitTrajectory</key>
	<string>missionforce</string>
	<key>shouldcancelunary</key>
	<string>mutableactionbehavior</string>
	<key>usedAudio</key>
	<string>interpolationforprocess</string>
</dict>
</plist>
