<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveConfidentiality</key>
	<string>shouldDismissScreen</string>
	<key>directTopic</key>
	<string>comprehensiveAnalogy</string>
	<key>gemFlags</key>
	<string>substantialProjection</string>
	<key>shouldPresentConstraint</key>
	<string>sineduration</string>
	<key>transitionSpeed</key>
	<string>loaderBehavior</string>
	<key>unsortedpainter</key>
	<string>synchronousEvent</string>
	<key>zonenumberbrightness</key>
	<string>firstEfficiency</string>
</dict>
</plist>
