<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertlayermomentum</key>
	<string>canUnmountedHeap</string>
	<key>arithmeticCreator</key>
	<string>lastData</string>
	<key>ignoredText</key>
	<string>hyperbolicchecklist</string>
	<key>partitioncursor</key>
	<string>shouldLoadShader</string>
	<key>tweenCenter</key>
	<string>shouldCreateAspect</string>
</dict>
</plist>
