<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentEvaluation</key>
	<string>temporaryEntity</string>
	<key>materialAnimatedContainer</key>
	<string>decorationposition</string>
	<key>rapidConstant</key>
	<string>asyncProcess</string>
	<key>semanticPosition</key>
	<string>disconnectCupertino</string>
	<key>sizedboxState</key>
	<string>easyPicker</string>
	<key>skirtformat</key>
	<string>detachthread</string>
	<key>statelessHash</key>
	<string>desktopspritetail</string>
</dict>
</plist>
