<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoShader</key>
	<string>allocateAsset</string>
	<key>difficultresourcedistance</key>
	<string>retainedDependency</string>
	<key>numericalClipper</key>
	<string>canHandleNorm</string>
	<key>resilientTrajectory</key>
	<string>routerdispatcher</string>
	<key>resizenorm</key>
	<string>alignmentSystem</string>
	<key>widgetName</key>
	<string>autorolemomentum</string>
</dict>
</plist>
