<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableSegue</key>
	<string>notificationForm</string>
	<key>geometricFragments</key>
	<string>checklistfornumber</string>
	<key>onlayoutchanged</key>
	<string>lostTrajectory</string>
</dict>
</plist>
