<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerSkewX</key>
	<string>canResumeBehavior</string>
	<key>crucialHero</key>
	<string>firstPublisher</string>
	<key>crudeScroll</key>
	<string>temporaryTimer</string>
	<key>findmultiplication</key>
	<string>otherFuture</string>
	<key>grouptypebottom</key>
	<string>selectorMargin</string>
	<key>rendererMomentum</key>
	<string>subpixelprovider</string>
	<key>selectedDocument</key>
	<string>amortizationTheme</string>
	<key>synchronousGroup</key>
	<string>arithmeticAscent</string>
	<key>viewFeedback</key>
	<string>canContinueMovement</string>
</dict>
</plist>
