<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionflyweightvisibility</key>
	<string>keyPublisher</string>
	<key>customconvolutionrate</key>
	<string>activecontainerdensity</string>
	<key>encodecoordinator</key>
	<string>canPaintOptimizer</string>
	<key>largegridforce</key>
	<string>ephemeralconverter</string>
	<key>shouldAttachRemainder</key>
	<string>factoryStrategy</string>
	<key>shouldRenderOperation</key>
	<string>evaluateCubit</string>
	<key>storyboardsink</key>
	<string>radioForce</string>
	<key>tappablePageView</key>
	<string>missionservice</string>
	<key>unbindexception</key>
	<string>listenAction</string>
</dict>
</plist>
