<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentdrawer</key>
	<string>standaloneScreen</string>
	<key>globalCreator</key>
	<string>maintainCubit</string>
	<key>graphmend</key>
	<string>exceptionTier</string>
	<key>intermediateTween</key>
	<string>sequentialCustomPaint</string>
	<key>navigateisolate</key>
	<string>secondParticle</string>
	<key>tensorTechnique</key>
	<string>cardEdge</string>
</dict>
</plist>
