<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeEdge</key>
	<string>momentumaroundbridge</string>
	<key>channelsdistance</key>
	<string>memberTension</string>
	<key>elasticSession</key>
	<string>localizationimpact</string>
	<key>inheritedIsolate</key>
	<string>mapTier</string>
	<key>matrixversusbridge</key>
	<string>responsiveScreen</string>
	<key>optimizerCenter</key>
	<string>respectiveSpot</string>
	<key>respectiveCell</key>
	<string>queueTension</string>
	<key>shouldDismissDialogs</key>
	<string>numericalSlash</string>
	<key>synchronousReduction</key>
	<string>detectorBottom</string>
</dict>
</plist>
