<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterVelocity</key>
	<string>musicscale</string>
	<key>completionconfidentiality</key>
	<string>firstStateless</string>
	<key>concurrentImage</key>
	<string>composableProtocol</string>
	<key>finishcallback</key>
	<string>showPresenter</string>
	<key>grayscaleBottom</key>
	<string>blocPhase</string>
	<key>parallelMonster</key>
	<string>immediatestatetop</string>
	<key>radiustransparency</key>
	<string>shouldProcessPoint</string>
	<key>shouldCreateMediaQuery</key>
	<string>signVelocity</string>
	<key>specifierbesidework</key>
	<string>monsterbufferresponse</string>
	<key>visibleBase</key>
	<string>canListenDocument</string>
</dict>
</plist>
