<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableevaluation</key>
	<string>shouldDisposeProtocol</string>
	<key>discardedScreen</key>
	<string>routeEnvironment</string>
	<key>eagerException</key>
	<string>giftmargin</string>
	<key>euclideanPolygon</key>
	<string>subsequentinkwell</string>
	<key>mediumStamp</key>
	<string>pinchableDescription</string>
	<key>normalMap</key>
	<string>aggregatechapter</string>
	<key>retainedScheduler</key>
	<string>grainPlatform</string>
	<key>shouldRouteExtension</key>
	<string>evolutionInterval</string>
</dict>
</plist>
