<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeEquivalent</key>
	<string>discardedThread</string>
	<key>gesturedetectorCenter</key>
	<string>shouldObserveRoute</string>
	<key>projectHead</key>
	<string>disconnectRoute</string>
	<key>rotateservice</key>
	<string>skirtCenter</string>
	<key>singleLoader</key>
	<string>handlerBehavior</string>
	<key>specifyChooser</key>
	<string>bindStack</string>
	<key>standalonePlate</key>
	<string>transitionMonster</string>
	<key>synchronizeappbar</key>
	<string>switchAcceleration</string>
</dict>
</plist>
