<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintScale</key>
	<string>richtextWork</string>
	<key>dimensionBrightness</key>
	<string>fragmentsOrientation</string>
	<key>eagerRequest</key>
	<string>factorydecoratoredge</string>
	<key>navigatorappearance</key>
	<string>projectTail</string>
	<key>shapeColor</key>
	<string>sharedSignature</string>
	<key>shouldshowoverlay</key>
	<string>monsterevolution</string>
</dict>
</plist>
