<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedRange</key>
	<string>customGraphic</string>
	<key>displayableOperation</key>
	<string>scheduleModel</string>
	<key>drawerColor</key>
	<string>notifyState</string>
	<key>independentPreview</key>
	<string>canSkipTool</string>
	<key>interactordistinction</key>
	<string>providerprovider</string>
	<key>notificationOffset</key>
	<string>rapidUtil</string>
	<key>shapehead</key>
	<string>intermediateChapter</string>
	<key>symmetricloss</key>
	<string>pendingFlex</string>
</dict>
</plist>
