<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalMatrix</key>
	<string>cleanSlider</string>
	<key>easyScaffold</key>
	<string>sustainableProjection</string>
	<key>firstCheckbox</key>
	<string>titlescopeborder</string>
	<key>flexibleConfidentiality</key>
	<string>discardedComponent</string>
	<key>notifygem</key>
	<string>obtainFrame</string>
	<key>pinchableTextField</key>
	<string>keyAnalogy</string>
	<key>providerdistance</key>
	<string>publicConsumer</string>
	<key>statelessinstruction</key>
	<string>canFormatModulus</string>
</dict>
</plist>
