<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatetopic</key>
	<string>disabledTopic</string>
	<key>configurationBottom</key>
	<string>crucialMission</string>
	<key>gatetexture</key>
	<string>lastProgressBar</string>
	<key>navigatorchaininteraction</key>
	<string>canNavigateContainer</string>
	<key>normalworkflowfeedback</key>
	<string>contractionDelay</string>
	<key>retainedPosition</key>
	<string>impressionAlignment</string>
	<key>shouldBindGift</key>
	<string>quantizerIsolate</string>
	<key>shouldDismissOption</key>
	<string>canSaveUsage</string>
	<key>shouldYieldIcon</key>
	<string>similarcaption</string>
	<key>unsortedCoordinator</key>
	<string>ignoredcluster</string>
</dict>
</plist>
