<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentheap</key>
	<string>canStopTechnique</string>
	<key>customoffsetpressure</key>
	<string>canUnbindObserver</string>
	<key>draggableConfidentiality</key>
	<string>uniformMember</string>
	<key>eagerSizedBox</key>
	<string>shouldBuildSlider</string>
	<key>gradientopacity</key>
	<string>statefulScroller</string>
	<key>independentConnector</key>
	<string>handleTextField</string>
	<key>inheritedSingleton</key>
	<string>canStreamReference</string>
	<key>interactiveproviderinteraction</key>
	<string>shouldShowExpanded</string>
	<key>serviceeffect</key>
	<string>synchronousAnalyzer</string>
	<key>utilVelocity</key>
	<string>progressbaractionposition</string>
</dict>
</plist>
