<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotalAccessory</key>
	<string>spriteScale</string>
	<key>singletonIndex</key>
	<string>customMetadata</string>
	<key>uniformresultcontrast</key>
	<string>optimizerPattern</string>
</dict>
</plist>
