<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureRate</key>
	<string>optimizerNumber</string>
	<key>extendskin</key>
	<string>discardedPoint</string>
	<key>gridviewpager</key>
	<string>gridtransparency</string>
	<key>selectedMediaQuery</key>
	<string>shouldReplaceAnimatedContainer</string>
	<key>shouldStartStack</key>
	<string>gesturedetectorwithouttask</string>
	<key>shouldTransformEquipment</key>
	<string>accessibleTexture</string>
	<key>subsequentcubedistance</key>
	<string>precisionmomentum</string>
	<key>temporaryAction</key>
	<string>managerjobname</string>
	<key>unactivatedAscent</key>
	<string>euclideanMap</string>
</dict>
</plist>
