<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitbound</key>
	<string>shouldPaintTabBar</string>
	<key>curvemementocolor</key>
	<string>listenerpadding</string>
	<key>disconnecttransformer</key>
	<string>functionalDescription</string>
	<key>emitskirt</key>
	<string>materialaction</string>
	<key>nativeAction</key>
	<string>prevAnimation</string>
	<key>optionInset</key>
	<string>opaqueText</string>
	<key>polygonMomentum</key>
	<string>popGrayscale</string>
	<key>renderaction</key>
	<string>animatedPriority</string>
	<key>subscriptionInterval</key>
	<string>equalusecase</string>
	<key>unactivatedShader</key>
	<string>mediumLoss</string>
</dict>
</plist>
