<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialPoint</key>
	<string>symmetricGraph</string>
	<key>missiondispatcher</key>
	<string>refactorRect</string>
	<key>shouldPublishMonster</key>
	<string>containerFunction</string>
	<key>sortedRole</key>
	<string>clipperDensity</string>
	<key>staticCapsule</key>
	<string>statelessLocalization</string>
	<key>switchPadding</key>
	<string>memberAcceleration</string>
	<key>typicalCache</key>
	<string>canPresentObserver</string>
</dict>
</plist>
