<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>histogramPosition</key>
	<string>canKeepMatrix</string>
	<key>pinchableMapper</key>
	<string>shouldUnmountThread</string>
	<key>reliabilityTop</key>
	<string>canMountButton</string>
	<key>respectiveMend</key>
	<string>shouldSetStateCache</string>
	<key>semanticStateful</key>
	<string>dialogsallocator</string>
	<key>shouldStopMargin</key>
	<string>curveversusenvironment</string>
	<key>standalonesession</key>
	<string>stepmethod</string>
	<key>subsequentDecoration</key>
	<string>eagerTable</string>
</dict>
</plist>
