<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>architectureDensity</key>
	<string>relationalGram</string>
	<key>iterativeService</key>
	<string>directlyReceiver</string>
	<key>mediocreGesture</key>
	<string>arithmeticObject</string>
	<key>memberShape</key>
	<string>granularMesh</string>
	<key>mutableSlider</key>
	<string>playbackDelay</string>
	<key>permissivecolumnleft</key>
	<string>metadataMemento</string>
	<key>refactorcompletion</key>
	<string>floatTransformer</string>
	<key>subtleDistinction</key>
	<string>delicateRange</string>
	<key>webCatalyst</key>
	<string>finishIcon</string>
</dict>
</plist>
