<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedConfidentiality</key>
	<string>relationalinteraction</string>
	<key>backwardPager</key>
	<string>eagergroup</string>
	<key>hyperbolicTouch</key>
	<string>shouldfinishinkwell</string>
	<key>responderOrigin</key>
	<string>ternaryInterpreter</string>
	<key>semanticExpanded</key>
	<string>nextAspect</string>
	<key>smallAlpha</key>
	<string>shouldStreamPadding</string>
	<key>workflowShape</key>
	<string>defaultActivity</string>
</dict>
</plist>
