<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatTimeline</key>
	<string>notifyDescription</string>
	<key>shouldCacheSine</key>
	<string>shaderBridge</string>
	<key>shouldShowAxis</key>
	<string>featureawaycommand</string>
	<key>smallpet</key>
	<string>metadataAdapter</string>
</dict>
</plist>
