<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainThreshold</key>
	<string>completedTransition</string>
	<key>prevcompletername</key>
	<string>nibMode</string>
	<key>shouldtransitionplayback</key>
	<string>asynchronouscache</string>
	<key>utiltaskindex</key>
	<string>rebuildStateful</string>
</dict>
</plist>
