<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediumPolygon</key>
	<string>gestureCycle</string>
	<key>responsevelocity</key>
	<string>ignoredRange</string>
	<key>sortedmedia</key>
	<string>accordionMaterializer</string>
</dict>
</plist>
