<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisstatus</key>
	<string>ephemeralShader</string>
	<key>custompaintanalyzer</key>
	<string>tensorTextField</string>
	<key>difficultPositioned</key>
	<string>scrolleroffset</string>
	<key>dimensionAcceleration</key>
	<string>shouldCreateAlert</string>
	<key>mechanismmode</key>
	<string>taskoftier</string>
	<key>missedIntegrity</key>
	<string>appendService</string>
	<key>polygonDepth</key>
	<string>boxshadowInteraction</string>
	<key>retainedAnimator</key>
	<string>shouldprocesscolumn</string>
	<key>shouldNavigateNib</key>
	<string>canDetachIndicator</string>
	<key>swiftagainstshape</key>
	<string>discardedListView</string>
</dict>
</plist>
