<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticResource</key>
	<string>completedBloc</string>
	<key>gramreducer</key>
	<string>unactivatedTween</string>
	<key>iconsincephase</key>
	<string>similarVolume</string>
	<key>inheritedSingleton</key>
	<string>webQuaternion</string>
	<key>lastcompositiondelay</key>
	<string>discardedCard</string>
	<key>retainresponse</key>
	<string>topicLevel</string>
	<key>sortedReliability</key>
	<string>sophisticatedscene</string>
	<key>substantialDetail</key>
	<string>infoPressure</string>
</dict>
</plist>
