<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAction</key>
	<string>desktopPolyfill</string>
	<key>arithmeticPressure</key>
	<string>latencybehavior</string>
	<key>graphBottom</key>
	<string>readMethod</string>
	<key>independentCertificate</key>
	<string>dynamicAsset</string>
	<key>mediocreTexture</key>
	<string>requiredModel</string>
	<key>otherActivity</key>
	<string>threadFlyweight</string>
	<key>persistentSprite</key>
	<string>stepversusmemento</string>
</dict>
</plist>
