<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretePet</key>
	<string>toleranceSaturation</string>
	<key>controllerMargin</key>
	<string>assetTask</string>
	<key>independentProvision</key>
	<string>processStateful</string>
	<key>statelessdispatcher</key>
	<string>canDetachNotifier</string>
</dict>
</plist>
