<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationShade</key>
	<string>contrastMode</string>
	<key>associatedNavigator</key>
	<string>canSkipController</string>
	<key>deliveryInteraction</key>
	<string>comprehensiveProfile</string>
	<key>hyperbolicElasticity</key>
	<string>connectLoop</string>
	<key>linkerState</key>
	<string>endtangent</string>
	<key>mainAspect</key>
	<string>associatedalphaskewx</string>
	<key>sortedVector</key>
	<string>unactivatedTolerance</string>
</dict>
</plist>
