<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMember</key>
	<string>taskvelocity</string>
	<key>animatorIndex</key>
	<string>appendController</string>
	<key>desktopSpecifier</key>
	<string>dispatchNavigation</string>
	<key>numericalMedia</key>
	<string>releasecontraction</string>
	<key>pinchableevent</key>
	<string>sustainableTechnique</string>
	<key>protectedChannels</key>
	<string>concreteLifecycle</string>
	<key>servicevisitordistance</key>
	<string>pivotalBehavior</string>
	<key>trianglesAcceleration</key>
	<string>basicExtension</string>
	<key>unbindappbar</key>
	<string>fragmentcapacity</string>
</dict>
</plist>
