<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInterval</key>
	<string>scaffoldshape</string>
	<key>diversifiedScreen</key>
	<string>interfaceMomentum</string>
	<key>firstArithmetic</key>
	<string>shouldskipskin</string>
	<key>largeNotation</key>
	<string>compileProgressBar</string>
	<key>multiWidget</key>
	<string>elasticSearcher</string>
	<key>primaryVolume</key>
	<string>convertoption</string>
	<key>resizableStateful</key>
	<string>intermediateProvider</string>
	<key>seamlessawaitshape</key>
	<string>defaultbuilder</string>
	<key>shouldSetStateImage</key>
	<string>protocoloflayer</string>
	<key>typicalOperation</key>
	<string>mobileMap</string>
</dict>
</plist>
