<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedEvaluation</key>
	<string>interpolationKind</string>
	<key>mediumQuaternion</key>
	<string>animatedAllocator</string>
	<key>menuSkewY</key>
	<string>recursionOrigin</string>
	<key>prismaticvertex</key>
	<string>storageValidation</string>
	<key>shouldDeserializeNavigation</key>
	<string>navigationInset</string>
	<key>triggerkind</key>
	<string>denseCustomPaint</string>
</dict>
</plist>
