<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedRequest</key>
	<string>semanticPromise</string>
	<key>materialactivity</key>
	<string>canPresentPoint</string>
	<key>shouldPushUnary</key>
	<string>bordertop</string>
</dict>
</plist>
