<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicDirection</key>
	<string>canHandleSkirt</string>
	<key>mediaqueryRight</key>
	<string>unmarshalFuture</string>
	<key>popradius</key>
	<string>refreshprogressbar</string>
	<key>serializetextfield</key>
	<string>skinprototypestyle</string>
	<key>shouldFormatOption</key>
	<string>capacitiesComposite</string>
	<key>storagefeedback</key>
	<string>backwardCupertino</string>
</dict>
</plist>
