<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilepositiondelay</key>
	<string>primaryController</string>
	<key>cartesianexponenttension</key>
	<string>unaryFacade</string>
	<key>cubeBrightness</key>
	<string>hascupertino</string>
	<key>desktopScroller</key>
	<string>shouldPresentAspect</string>
	<key>directAnimation</key>
	<string>lossInteraction</string>
	<key>draggablecontroller</key>
	<string>pinchableBinary</string>
	<key>immutableOffset</key>
	<string>titleChain</string>
	<key>quantizertopic</key>
	<string>reusableMesh</string>
</dict>
</plist>
