<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>copytangent</key>
	<string>viewmethodforce</string>
	<key>dependencyefficiency</key>
	<string>significantElement</string>
	<key>destroyproject</key>
	<string>activatesign</string>
	<key>encodeentropy</key>
	<string>composablegraincoord</string>
	<key>interactiveRange</key>
	<string>uniformcolor</string>
</dict>
</plist>
