<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalChapter</key>
	<string>activityComposite</string>
	<key>shouldMountTransition</key>
	<string>loadEntropy</string>
	<key>shouldRebuildModal</key>
	<string>smartDocument</string>
	<key>shouldRebuildPositioned</key>
	<string>baseLeft</string>
</dict>
</plist>
