<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacityTop</key>
	<string>shouldPrepareDocument</string>
	<key>oldinteractorsize</key>
	<string>cacheinterpreterbrightness</string>
	<key>otherRect</key>
	<string>traversalDensity</string>
	<key>quaternionVelocity</key>
	<string>priorAsset</string>
	<key>refreshpriority</key>
	<string>paintWidget</string>
</dict>
</plist>
