<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteReducer</key>
	<string>disconnectMenu</string>
	<key>drawvariant</key>
	<string>aggregateTween</string>
	<key>lostbuffer</key>
	<string>entropyRight</string>
	<key>playbackcharacteristic</key>
	<string>iconVelocity</string>
	<key>reactiveDimension</key>
	<string>analyzeMethod</string>
	<key>shouldPauseAlpha</key>
	<string>dedicatedCreator</string>
	<key>similarWidget</key>
	<string>shouldpushtheme</string>
	<key>tappableDelegate</key>
	<string>disconnectUsage</string>
</dict>
</plist>
