<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferbandwidth</key>
	<string>statefulProfile</string>
	<key>channelsoperationskewy</key>
	<string>associatedCupertino</string>
	<key>checkboxdepth</key>
	<string>tappableBullet</string>
	<key>delegatelayerskewx</key>
	<string>canParsePrecision</string>
	<key>lazyConnector</key>
	<string>widgetJob</string>
	<key>protectedProjection</key>
	<string>associatedMetadata</string>
	<key>sharedasset</key>
	<string>canObserveFlex</string>
	<key>shouldCancelMargin</key>
	<string>extensionDuration</string>
	<key>shouldTransitionReduction</key>
	<string>precisionOrientation</string>
	<key>stateuntilaction</key>
	<string>consumeMetadata</string>
</dict>
</plist>
