<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumptionDelay</key>
	<string>canEmitFuture</string>
	<key>endresponse</key>
	<string>replaceGem</string>
	<key>framePosition</key>
	<string>canStreamLogarithm</string>
	<key>hyperbolicconfidentiality</key>
	<string>publishBehavior</string>
	<key>iconparametertint</key>
	<string>mergerResponse</string>
	<key>shouldHandleSlash</key>
	<string>aggregateGrain</string>
	<key>touchBound</key>
	<string>progressbarhue</string>
	<key>vertexFormat</key>
	<string>unactivatedRepository</string>
	<key>widgetName</key>
	<string>canEmitModal</string>
</dict>
</plist>
