<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvetaxonomy</key>
	<string>observeRouter</string>
	<key>customContainer</key>
	<string>upgradeChart</string>
	<key>draggableLinker</key>
	<string>globalbutton</string>
	<key>gradienttheme</key>
	<string>calculateParticle</string>
	<key>iterativeCurve</key>
	<string>shouldShowCustomPaint</string>
	<key>layouttag</key>
	<string>queueHead</string>
	<key>musicCount</key>
	<string>defaultCertificate</string>
	<key>scaffoldInterval</key>
	<string>activateDescription</string>
	<key>shouldRoutePainter</key>
	<string>masterPhase</string>
	<key>unsortedAwait</key>
	<string>shouldNavigateMedia</string>
</dict>
</plist>
