<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoPrecision</key>
	<string>notifyHero</string>
	<key>greatArithmetic</key>
	<string>catalystposition</string>
	<key>playbackDensity</key>
	<string>gridvalidation</string>
	<key>playbackDuration</key>
	<string>selectedCustomPaint</string>
	<key>positionselector</key>
	<string>integrityFlags</string>
	<key>prismaticrect</key>
	<string>canDismissSwift</string>
	<key>shouldResumeCurve</key>
	<string>eraseskin</string>
	<key>tentativeInset</key>
	<string>advancedoptimizertransparency</string>
	<key>uniqueEvent</key>
	<string>multiItem</string>
</dict>
</plist>
