<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzespine</key>
	<string>visibleLinker</string>
	<key>checklistTag</key>
	<string>calculateFrame</string>
	<key>curveSpeed</key>
	<string>shouldStopFuture</string>
	<key>difficultSubscriber</key>
	<string>shouldanimatecompletion</string>
	<key>diversifiedArchitecture</key>
	<string>particleComposite</string>
	<key>inactiveAsync</key>
	<string>updateNavigator</string>
	<key>newestEvent</key>
	<string>newestSensor</string>
	<key>numericalKernel</key>
	<string>mapperspacing</string>
	<key>responsiveText</key>
	<string>adjustHash</string>
	<key>usageOffset</key>
	<string>challengeBehavior</string>
</dict>
</plist>
