<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatSpine</key>
	<string>batchTier</string>
	<key>resizableinterfaceleft</key>
	<string>dismissAnimatedContainer</string>
	<key>sequentialoffsetduration</key>
	<string>cubitCycle</string>
</dict>
</plist>
