<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeJoiner</key>
	<string>connectBitrate</string>
	<key>animatedcontainerFrequency</key>
	<string>seguenearstructure</string>
	<key>aspectLeft</key>
	<string>canObserveSign</string>
	<key>clipperskewy</key>
	<string>transformtangent</string>
	<key>compositionalTimer</key>
	<string>initializeParticle</string>
	<key>otherFrame</key>
	<string>easyMaterializer</string>
	<key>positionedDepth</key>
	<string>missedDispatcher</string>
	<key>processmodel</key>
	<string>respectiveScroll</string>
	<key>secondInteger</key>
	<string>refreshPosition</string>
	<key>themeColor</key>
	<string>temporaryAnchor</string>
</dict>
</plist>
