<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentResolver</key>
	<string>hashobject</string>
	<key>diversifiedInfrastructure</key>
	<string>particleMargin</string>
	<key>modalDelay</key>
	<string>navigateloss</string>
	<key>nativeSink</key>
	<string>transformUnary</string>
	<key>receiverduration</key>
	<string>projectstrength</string>
</dict>
</plist>
