<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileBinder</key>
	<string>canResumeUsage</string>
	<key>brushopacity</key>
	<string>integerSkewY</string>
	<key>euclideanInjection</key>
	<string>significantResolver</string>
	<key>mendDensity</key>
	<string>listenTabBar</string>
	<key>originalWrapper</key>
	<string>hasstateless</string>
	<key>toolPadding</key>
	<string>associatedtexture</string>
	<key>traversalPressure</key>
	<string>immutableConvolution</string>
	<key>usagesingletontype</key>
	<string>concreteIndicator</string>
</dict>
</plist>
