<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveElasticity</key>
	<string>gradientContext</string>
	<key>contractionSpeed</key>
	<string>backwardCluster</string>
	<key>declarativeDelegate</key>
	<string>shouldDisconnectPriority</string>
	<key>heapbesideoperation</key>
	<string>standaloneLoss</string>
	<key>metadataAcceleration</key>
	<string>basicConverter</string>
	<key>occasionEdge</key>
	<string>detachRequest</string>
	<key>seguetween</key>
	<string>uniqueVideo</string>
	<key>sequentialTraversal</key>
	<string>canEndBloc</string>
	<key>shouldDisconnectScaffold</key>
	<string>canDisconnectDocument</string>
	<key>tweenSpacing</key>
	<string>interceptText</string>
</dict>
</plist>
