<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedProvider</key>
	<string>labeluntilaction</string>
	<key>roleright</key>
	<string>shouldAttachCache</string>
	<key>secondVertex</key>
	<string>spineOrigin</string>
	<key>shouldMountTransition</key>
	<string>connectmember</string>
	<key>shouldTransitionLayout</key>
	<string>inkwellSaturation</string>
	<key>toleranceOpacity</key>
	<string>intermediateTimeline</string>
</dict>
</plist>
