<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetevolution</key>
	<string>completionOpacity</string>
	<key>disposefeature</key>
	<string>restrictionTail</string>
	<key>keyGrayscale</key>
	<string>musicbottom</string>
	<key>mediocreTransition</key>
	<string>filterDirection</string>
	<key>progressbarcontrast</key>
	<string>inactiveCollection</string>
	<key>timerawayvariable</key>
	<string>rapidTangent</string>
</dict>
</plist>
