<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionhue</key>
	<string>composablePermutation</string>
	<key>disabledImage</key>
	<string>exponentVisibility</string>
	<key>dropoutchapter</key>
	<string>cupertinoRequest</string>
	<key>listviewDirection</key>
	<string>sessioncluster</string>
	<key>musicTint</key>
	<string>delicateInstruction</string>
	<key>propagatemonster</key>
	<string>numericalTexture</string>
	<key>resizableTaxonomy</key>
	<string>trainKernel</string>
	<key>scrollableCreator</key>
	<string>stepFramework</string>
	<key>topicexcepttier</key>
	<string>interactorright</string>
</dict>
</plist>
