<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianReduction</key>
	<string>graphicInterval</string>
	<key>containerpressure</key>
	<string>adaptiveOperation</string>
	<key>endtransformer</key>
	<string>canUnmountedMomentum</string>
	<key>immediateDependency</key>
	<string>isolatearoundphase</string>
	<key>originalBuilder</key>
	<string>accessibleZone</string>
	<key>shouldBuildLogarithm</key>
	<string>subscriptionformvelocity</string>
	<key>shouldNotifyArithmetic</key>
	<string>missedrouterdensity</string>
	<key>shouldUnbindStream</key>
	<string>publicFlex</string>
	<key>subscriptionHue</key>
	<string>attachButton</string>
</dict>
</plist>
