<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowMode</key>
	<string>petJob</string>
	<key>linkerFeedback</key>
	<string>formatBorder</string>
	<key>shouldfetchskirt</key>
	<string>navigateUnary</string>
	<key>visibleStack</key>
	<string>canStopMusic</string>
</dict>
</plist>
