<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderatphase</key>
	<string>scaleCommand</string>
	<key>gateHead</key>
	<string>shouldPaintClipper</string>
	<key>polyfillRotation</key>
	<string>assetbesideform</string>
	<key>popuphue</key>
	<string>bindGrayscale</string>
	<key>secondArchitecture</key>
	<string>executeTopic</string>
	<key>seguevisibility</key>
	<string>flexslider</string>
	<key>shouldUnbindDelegate</key>
	<string>shearPopup</string>
	<key>statefulposition</key>
	<string>canLoadSkirt</string>
	<key>subpixelworksize</key>
	<string>metadataInteraction</string>
	<key>subtleBehavior</key>
	<string>reactiveFragment</string>
</dict>
</plist>
