<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityBound</key>
	<string>adjustCurve</string>
	<key>fixedconsumption</key>
	<string>topicDuration</string>
	<key>observetimer</key>
	<string>canConnectObserver</string>
	<key>scalabilityPressure</key>
	<string>unactivatedpoint</string>
	<key>validateutil</key>
	<string>memberParameter</string>
</dict>
</plist>
