<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedStorage</key>
	<string>clearcoordinator</string>
	<key>momentumLeft</key>
	<string>canListenEqualization</string>
	<key>semanticsorflyweight</key>
	<string>extendUseCase</string>
	<key>sensorFrequency</key>
	<string>shouldDeserializeCursor</string>
</dict>
</plist>
