<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalSubscription</key>
	<string>integrationTransparency</string>
	<key>controllerborder</key>
	<string>canPushCell</string>
	<key>denseFinder</key>
	<string>optimizeNode</string>
	<key>ephemeralanimationstate</key>
	<string>shouldMountedObserver</string>
	<key>mediaviacycle</key>
	<string>scrollProxy</string>
	<key>positionedmodevelocity</key>
	<string>invisibleTimeline</string>
	<key>primaryCluster</key>
	<string>canReplaceThread</string>
	<key>profiledistance</key>
	<string>globalRow</string>
	<key>shouldSubscribeSession</key>
	<string>shouldAnimateCapacities</string>
	<key>shouldUnmountStamp</key>
	<string>usageInterpreter</string>
</dict>
</plist>
