<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeloss</key>
	<string>displayableAsync</string>
	<key>basicsessionrotation</key>
	<string>traversalOrientation</string>
	<key>displayableCycle</key>
	<string>inkwellDistance</string>
	<key>heaporientation</key>
	<string>fragmentsPosition</string>
	<key>immutableIsolate</key>
	<string>isolateSkewX</string>
	<key>localizationoperation</key>
	<string>shouldEndEquipment</string>
	<key>mediocreAlert</key>
	<string>hardMusic</string>
	<key>mediocremodelorigin</key>
	<string>canTrainGram</string>
	<key>shouldMountedMission</key>
	<string>canSubscribeTask</string>
	<key>tangentSpacing</key>
	<string>robustconfidentiality</string>
</dict>
</plist>
