<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowstate</key>
	<string>dismissasync</string>
	<key>cancelasync</key>
	<string>streamparamtransparency</string>
	<key>delicateReplica</key>
	<string>pushspine</string>
	<key>desktopRepository</key>
	<string>cubitFeedback</string>
	<key>menuHead</key>
	<string>extendCallback</string>
	<key>pinchableChallenge</key>
	<string>canPrepareShader</string>
	<key>pivotalFrame</key>
	<string>integrationPadding</string>
	<key>priorobject</key>
	<string>canUnmountInkWell</string>
	<key>selectorBehavior</key>
	<string>defaultproject</string>
	<key>shouldDisconnectPrecision</key>
	<string>selectedswitch</string>
</dict>
</plist>
