<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstProfile</key>
	<string>permanentChapter</string>
	<key>originalCell</key>
	<string>uniformImage</string>
	<key>resilientRouter</key>
	<string>emitdependency</string>
	<key>shouldSubscribeTechnique</key>
	<string>shouldBuildGift</string>
	<key>symmetricListener</key>
	<string>emitGridView</string>
	<key>typicalBinary</key>
	<string>disposecursor</string>
	<key>webTrigger</key>
	<string>groupMethod</string>
	<key>workflowparticle</key>
	<string>cancelpositioned</string>
</dict>
</plist>
