<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedLogarithm</key>
	<string>compareStream</string>
	<key>desktopCharacteristic</key>
	<string>symmetricTexture</string>
	<key>draggableCell</key>
	<string>sequentialView</string>
	<key>gridfunctionrate</key>
	<string>controllersensor</string>
	<key>mediumCurve</key>
	<string>synchronousArchitecture</string>
</dict>
</plist>
