<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousDispatcher</key>
	<string>sustainableModulus</string>
	<key>basicEffect</key>
	<string>primaryMargin</string>
	<key>dropdownbuttonRotation</key>
	<string>criticalStorage</string>
	<key>geometricsearcher</key>
	<string>clearMenu</string>
	<key>hierarchicalresource</key>
	<string>canEncodeAxis</string>
	<key>pickertheme</key>
	<string>processDuration</string>
	<key>shaderDensity</key>
	<string>accessibleHash</string>
	<key>shouldPaintTabView</key>
	<string>isSkirt</string>
</dict>
</plist>
