<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCoordinator</key>
	<string>temporaryCluster</string>
	<key>integritydensity</key>
	<string>inheritedtextfield</string>
	<key>maininstruction</key>
	<string>publisherBottom</string>
	<key>retainedicontag</key>
	<string>tabviewValue</string>
	<key>robustSlash</key>
	<string>insteadView</string>
	<key>sortedEntity</key>
	<string>smallNode</string>
	<key>spotType</key>
	<string>synchronousLoop</string>
	<key>visibleBehavior</key>
	<string>unmountConvolution</string>
</dict>
</plist>
