<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitkindstatus</key>
	<string>canSkipCupertino</string>
	<key>configurationCenter</key>
	<string>loaderVisibility</string>
	<key>dependencyDepth</key>
	<string>textinset</string>
	<key>diversifiedConvolution</key>
	<string>volumeFormat</string>
	<key>listeneredge</key>
	<string>menuFacade</string>
	<key>oldMesh</key>
	<string>moduleName</string>
	<key>seguecolor</key>
	<string>substantialCubit</string>
	<key>synchronousManager</key>
	<string>continueClipper</string>
	<key>transitionskewx</key>
	<string>unregisterSlider</string>
</dict>
</plist>
