<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterDuration</key>
	<string>directlyInkWell</string>
	<key>comprehensiveInfrastructure</key>
	<string>freeLabel</string>
	<key>concurrentCurve</key>
	<string>sustainableSemantics</string>
	<key>customSchema</key>
	<string>tappablePageView</string>
	<key>detectorcount</key>
	<string>mountText</string>
	<key>lastGroup</key>
	<string>switchstructurespacing</string>
	<key>menuContrast</key>
	<string>conformbuffer</string>
	<key>normalResponder</key>
	<string>fetchBoxShadow</string>
	<key>shouldTrainBinary</key>
	<string>marshalAlignment</string>
	<key>shouldrestartmaster</key>
	<string>spritehandler</string>
</dict>
</plist>
