<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredEquivalent</key>
	<string>reusableSprite</string>
	<key>descriptionjobhead</key>
	<string>dropdownbuttonBehavior</string>
	<key>diffableobject</key>
	<string>componentcoord</string>
	<key>multiFragment</key>
	<string>pivotalProcessor</string>
	<key>notationFrequency</key>
	<string>canStartReference</string>
	<key>sortedCupertino</key>
	<string>requiredService</string>
	<key>sustainableSensor</key>
	<string>animatedContainer</string>
	<key>throughputLocation</key>
	<string>shouldPaintBrush</string>
	<key>trianglesVisible</key>
	<string>emitResource</string>
</dict>
</plist>
