<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventState</key>
	<string>layerFormat</string>
	<key>masterrect</key>
	<string>canContinueDelegate</string>
	<key>resourceinsidenumber</key>
	<string>concreteJoiner</string>
	<key>shouldRenderDuration</key>
	<string>holdOffset</string>
	<key>shouldRestartSkin</key>
	<string>shouldShowCache</string>
	<key>unactivatedWidget</key>
	<string>difficultcheckboxresponse</string>
</dict>
</plist>
