<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disclaimerPadding</key>
	<string>trajectoryDepth</string>
	<key>hierarchicalChannels</key>
	<string>batchRotation</string>
	<key>logColor</key>
	<string>granulartable</string>
	<key>logarithmquaternion</key>
	<string>greatTrigger</string>
	<key>secondConverter</key>
	<string>shouldAttachPlate</string>
</dict>
</plist>
