<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectlogarithm</key>
	<string>accessoryBottom</string>
	<key>containerchart</key>
	<string>boxshadowAcceleration</string>
	<key>drawconstraint</key>
	<string>animatequeue</string>
	<key>drawerMode</key>
	<string>canEmitSession</string>
	<key>flexibleError</key>
	<string>limitState</string>
	<key>granularException</key>
	<string>calculateSize</string>
	<key>metadataTag</key>
	<string>adaptivepublisher</string>
	<key>vectorformstate</key>
	<string>geometricInkWell</string>
	<key>widgetframeworkalignment</key>
	<string>imperativeFinder</string>
	<key>writerow</key>
	<string>staticObserver</string>
</dict>
</plist>
