<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsulewithoutflyweight</key>
	<string>canStreamSymbol</string>
	<key>channelagainstmode</key>
	<string>filterTag</string>
	<key>renamebutton</key>
	<string>callbacktop</string>
	<key>sceneOrigin</key>
	<string>requesttop</string>
	<key>significantButton</key>
	<string>nativeSample</string>
	<key>sortedCell</key>
	<string>hierarchicalMultiplication</string>
	<key>tickerstrength</key>
	<string>syncSprite</string>
</dict>
</plist>
