<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSubpixel</key>
	<string>capsuleBorder</string>
	<key>amortizationDelay</key>
	<string>canRouteVariant</string>
	<key>dropdownbuttondespiteaction</key>
	<string>standaloneTriangles</string>
	<key>enabledInformation</key>
	<string>tappableMend</string>
	<key>euclideanTechnique</key>
	<string>createGroup</string>
	<key>newestSign</key>
	<string>canLayoutProtocol</string>
	<key>significantMesh</key>
	<string>progressbarMomentum</string>
</dict>
</plist>
