<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedsubscription</key>
	<string>positionedBuffer</string>
	<key>priorMaterial</key>
	<string>canDispatchPlate</string>
	<key>secondVertex</key>
	<string>petformat</string>
	<key>tensorNode</key>
	<string>sequentialConstraint</string>
	<key>texttierformat</key>
	<string>localStack</string>
</dict>
</plist>
