<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleVertex</key>
	<string>publicCustomPaint</string>
	<key>allocatorStatus</key>
	<string>directlyMonster</string>
	<key>grainSaturation</key>
	<string>iconDepth</string>
	<key>keyConstraint</key>
	<string>canPrepareHistogram</string>
</dict>
</plist>
