<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregatesize</key>
	<string>completedStream</string>
	<key>effectdistance</key>
	<string>canInflateMission</string>
	<key>hashContrast</key>
	<string>paintSign</string>
	<key>hyperbolicallocatorname</key>
	<string>relationalsubscriptionoffset</string>
	<key>painterIndex</key>
	<string>compositionChain</string>
	<key>retainedNotation</key>
	<string>canReplaceDimension</string>
	<key>selectedaxis</key>
	<string>tangentTag</string>
	<key>shouldparsecache</key>
	<string>wrapRepository</string>
	<key>symmetricInterface</key>
	<string>disabledPet</string>
	<key>widgetForce</key>
	<string>shapeDensity</string>
</dict>
</plist>
