<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>distinctionInteraction</key>
	<string>subsequentListView</string>
	<key>hyperbolicImpression</key>
	<string>constraintduration</string>
	<key>lastMonster</key>
	<string>symmetricTouch</string>
	<key>layoutbound</key>
	<string>resizableLinker</string>
	<key>shouldDeserializeCollection</key>
	<string>canPushStamp</string>
	<key>shouldDetachClipper</key>
	<string>masterVisibility</string>
</dict>
</plist>
