<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticgestureedge</key>
	<string>shouldValidateMediaQuery</string>
	<key>lastConsumer</key>
	<string>advancedCursor</string>
	<key>rectuntilflyweight</key>
	<string>fetchMedia</string>
</dict>
</plist>
