<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedItem</key>
	<string>movementTemple</string>
	<key>asynchronousSprite</key>
	<string>mainCursor</string>
	<key>pinchablelistenerpadding</key>
	<string>documentinset</string>
	<key>responsiveSlider</key>
	<string>litezoneresponse</string>
	<key>shouldLoadAperture</key>
	<string>amortizationcenter</string>
	<key>similarModal</key>
	<string>canCancelKernel</string>
	<key>sustainableAnimation</key>
	<string>animationwithoutbridge</string>
	<key>visiblegate</key>
	<string>canKeepSkirt</string>
</dict>
</plist>
