<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedswitchorientation</key>
	<string>converterDistance</string>
	<key>channelsbridgeinterval</key>
	<string>dedicatedRadius</string>
	<key>encodeposition</key>
	<string>navigatorvisibility</string>
	<key>evolutionVelocity</key>
	<string>extensiontaskstyle</string>
	<key>newestSlider</key>
	<string>brushsystemopacity</string>
	<key>serializematrix</key>
	<string>moveModel</string>
	<key>visibleSizedBox</key>
	<string>aspectratiobridgeresponse</string>
</dict>
</plist>
