<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalongform</key>
	<string>tabviewAppearance</string>
	<key>crucialIntegrity</key>
	<string>specifiercycleright</string>
	<key>firstframeorientation</key>
	<string>animatedEvolution</string>
	<key>groupmaterializer</key>
	<string>bundleLocalization</string>
	<key>responsiveNotification</key>
	<string>semanticScale</string>
	<key>stateForce</key>
	<string>prismaticStore</string>
	<key>strengthSaturation</key>
	<string>chartLayer</string>
	<key>vertexHead</key>
	<string>discardedInteraction</string>
</dict>
</plist>
