<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deserializedecoration</key>
	<string>destroySink</string>
	<key>diversifiedExponent</key>
	<string>oldZone</string>
	<key>drawerborder</key>
	<string>strokeLeft</string>
	<key>gradientbinder</key>
	<string>grainBridge</string>
	<key>liteloopinterval</key>
	<string>variantContrast</string>
	<key>shouldPresentCupertino</key>
	<string>requiredEffect</string>
	<key>shouldtransitioncharacter</key>
	<string>integerTension</string>
	<key>tabviewtag</key>
	<string>musiccolor</string>
</dict>
</plist>
