<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorcontroller</key>
	<string>annotateNavigator</string>
	<key>crudeContrast</key>
	<string>directCaption</string>
	<key>greatTrajectory</key>
	<string>inheritedSearcher</string>
	<key>localfactorycenter</key>
	<string>autoAnimator</string>
	<key>otherskinformat</key>
	<string>storagehue</string>
	<key>paddingdescent</key>
	<string>canPaintBullet</string>
	<key>pagerCount</key>
	<string>selectedConsumer</string>
	<key>sequentialBaseline</key>
	<string>mediaType</string>
	<key>shouldDecodeSegment</key>
	<string>appendResource</string>
	<key>shouldMountedCurve</key>
	<string>semanticFilter</string>
</dict>
</plist>
