<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSpot</key>
	<string>textState</string>
	<key>collectionsincekind</key>
	<string>rangeTransparency</string>
	<key>delicateSemantics</key>
	<string>globalFilter</string>
	<key>mediumAlpha</key>
	<string>sanitizePopup</string>
	<key>shouldFetchImage</key>
	<string>modulusValue</string>
	<key>shouldUnmountGate</key>
	<string>kernelFlyweight</string>
	<key>tangentstrategypressure</key>
	<string>promiseSkewY</string>
	<key>typicalShader</key>
	<string>hierarchicalRichText</string>
</dict>
</plist>
