<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderInteraction</key>
	<string>topicJob</string>
	<key>euclideanMediaQuery</key>
	<string>difficultMember</string>
	<key>hyperbolicListView</key>
	<string>effectsinceaction</string>
	<key>intensityvolume</key>
	<string>shouldrebuildhistogram</string>
	<key>makestorage</key>
	<string>concreteMedia</string>
	<key>permanentanchor</key>
	<string>semanticScale</string>
	<key>shouldFinishUnary</key>
	<string>hardAllocator</string>
	<key>standaloneReliability</key>
	<string>explicitsearcher</string>
	<key>unactivatedSubpixel</key>
	<string>modelcolor</string>
</dict>
</plist>
