<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledRouter</key>
	<string>missedRepository</string>
	<key>prismaticCoordinator</key>
	<string>priorGrain</string>
	<key>shouldDisconnectMovement</key>
	<string>responsiveCapacities</string>
	<key>shouldmountcontroller</key>
	<string>synchronousChooser</string>
	<key>smartActivity</key>
	<string>paintMargin</string>
</dict>
</plist>
