<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncVisibility</key>
	<string>adjustTween</string>
	<key>disparateGift</key>
	<string>requiredTrajectory</string>
	<key>hardDocument</key>
	<string>currentScale</string>
	<key>queueAcceleration</key>
	<string>shouldAttachAnchor</string>
	<key>secondInteraction</key>
	<string>quantizationFactory</string>
	<key>shouldEndOperation</key>
	<string>prismatictitle</string>
	<key>shouldStopGate</key>
	<string>decodegradient</string>
	<key>tensorcoordinatorvisibility</key>
	<string>bulletShape</string>
</dict>
</plist>
