<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleSize</key>
	<string>scrollScale</string>
	<key>hardCharacter</key>
	<string>activeTimeline</string>
	<key>independentGift</key>
	<string>resilientPrecision</string>
	<key>otherGram</key>
	<string>statefulConstant</string>
	<key>pivotalRemediation</key>
	<string>mutableMultiplication</string>
	<key>requiredSensor</key>
	<string>optimizeSubscription</string>
	<key>shouldDisconnectClipper</key>
	<string>shouldMountTabBar</string>
	<key>shouldMountCollection</key>
	<string>webloopacceleration</string>
</dict>
</plist>
