<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litesplitter</key>
	<string>capsuleResponse</string>
	<key>loaderskewx</key>
	<string>directlyTabView</string>
	<key>replicatelabel</key>
	<string>notifierValidation</string>
</dict>
</plist>
