<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedHero</key>
	<string>vertexSpacing</string>
	<key>completioncontrast</key>
	<string>escalateLayer</string>
	<key>functionalStrength</key>
	<string>removeRect</string>
	<key>hierarchicalfragments</key>
	<string>canContinueMedia</string>
	<key>permanentMedia</key>
	<string>unactivatedTabBar</string>
	<key>permissiveAlert</key>
	<string>imageBottom</string>
	<key>screensaturation</key>
	<string>inkwellVisible</string>
	<key>skinvisibility</key>
	<string>pageviewoperationinterval</string>
	<key>tickercharacteristic</key>
	<string>canEndExtension</string>
</dict>
</plist>
