<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveresilience</key>
	<string>gesturescale</string>
	<key>declarativeProject</key>
	<string>immediatelayoutdensity</string>
	<key>fillmatrix</key>
	<string>missedBuffer</string>
	<key>flexName</key>
	<string>shouldConnectSignature</string>
	<key>flexibleStream</key>
	<string>functionalAmortization</string>
	<key>promisearoundcomposite</key>
	<string>transposeplayback</string>
	<key>scrollableTexture</key>
	<string>spriteproxymode</string>
	<key>selectedAnimation</key>
	<string>canTransformBoxShadow</string>
	<key>shouldRestartProfile</key>
	<string>setupbuilder</string>
	<key>typicalcertificate</key>
	<string>criticalSizedBox</string>
</dict>
</plist>
