<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formatDepth</key>
	<string>specifierWork</string>
	<key>liteStore</key>
	<string>sharedreducer</string>
	<key>priorityindex</key>
	<string>unmounttexture</string>
	<key>providertint</key>
	<string>texturePlatform</string>
	<key>publisherStyle</key>
	<string>controllercombiner</string>
	<key>shouldContinueMedia</key>
	<string>completionAppearance</string>
	<key>shouldbuildtechnique</key>
	<string>cartesianPopup</string>
	<key>substantialOptimizer</key>
	<string>defaultarithmetic</string>
</dict>
</plist>
