<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopVideo</key>
	<string>diffableListener</string>
	<key>fillnavigator</key>
	<string>textureformat</string>
	<key>hardbutton</key>
	<string>hyperbolicButton</string>
	<key>impactForce</key>
	<string>labelname</string>
	<key>opaqueLoop</key>
	<string>uniqueoperationedge</string>
	<key>projectIndex</key>
	<string>scrollChain</string>
	<key>resizableConvolution</key>
	<string>resizableMusic</string>
	<key>smallTangent</key>
	<string>blocCommand</string>
</dict>
</plist>
