<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretespinemode</key>
	<string>localizationLocation</string>
	<key>customizedDetector</key>
	<string>detectortheme</string>
	<key>iterativeModel</key>
	<string>functionalConverter</string>
	<key>nodeamongvariable</key>
	<string>desktopslashdepth</string>
	<key>responsiveOccasion</key>
	<string>sophisticatedBase</string>
	<key>statusDepth</key>
	<string>logchapter</string>
	<key>typicalmesh</key>
	<string>prismaticHandler</string>
</dict>
</plist>
