<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDensity</key>
	<string>materialdecorationacceleration</string>
	<key>disparateGram</key>
	<string>arithmeticReliability</string>
	<key>mediaflags</key>
	<string>unactivatedRadio</string>
	<key>persistentTitle</key>
	<string>indicatorwithoutsystem</string>
</dict>
</plist>
