<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedLayer</key>
	<string>tensorCharacter</string>
	<key>commonSplitter</key>
	<string>distinctionMomentum</string>
	<key>custompaintSpeed</key>
	<string>diffablecheckbox</string>
	<key>globalOverlay</key>
	<string>selectedConvolution</string>
	<key>handleoperation</key>
	<string>connectIsolate</string>
	<key>ignoredBox</key>
	<string>inkwellbyproxy</string>
	<key>primaryAsset</key>
	<string>canUnmountProfile</string>
	<key>shouldAnimateGridView</key>
	<string>activatedQuaternion</string>
</dict>
</plist>
