<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compilegrain</key>
	<string>standaloneThread</string>
	<key>deferredlinker</key>
	<string>dispatchAlpha</string>
	<key>localizationatbridge</key>
	<string>shouldYieldThread</string>
	<key>multiplicationResponse</key>
	<string>completedNavigation</string>
	<key>smallSession</key>
	<string>prismaticMaster</string>
</dict>
</plist>
