<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>methodOpacity</key>
	<string>refactorgradient</string>
	<key>multiSkirt</key>
	<string>shouldValidateSwift</string>
	<key>nibDuration</key>
	<string>primaryThreshold</string>
	<key>routeinobserver</key>
	<string>deliveryRotation</string>
	<key>sortedTopic</key>
	<string>operationAppearance</string>
	<key>startoverlay</key>
	<string>sampletint</string>
</dict>
</plist>
