<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBuilder</key>
	<string>subsequentColor</string>
	<key>bufferBottom</key>
	<string>consumptionTop</string>
	<key>dynamicIsolate</key>
	<string>kernelScale</string>
	<key>firstRow</key>
	<string>enabledEvolution</string>
	<key>inheritedFinder</key>
	<string>cleangrain</string>
	<key>intuitivePolygon</key>
	<string>completionMargin</string>
	<key>paddingbuffervelocity</key>
	<string>euclideanExtension</string>
	<key>shouldPauseTheme</key>
	<string>sequentialReliability</string>
	<key>specifiersingletonposition</key>
	<string>enabledLocalization</string>
	<key>variantsize</key>
	<string>euclideanHistogram</string>
</dict>
</plist>
