<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialMomentum</key>
	<string>immutableProfile</string>
	<key>hasgem</key>
	<string>mainDuration</string>
	<key>progressbarconfidentiality</key>
	<string>independentDrawer</string>
</dict>
</plist>
