<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableRemainder</key>
	<string>sessionvelocity</string>
	<key>iterativeMaterial</key>
	<string>canParseHeap</string>
	<key>notifyoverlay</key>
	<string>greatTechnique</string>
	<key>positionPosition</key>
	<string>dependencyalongfunction</string>
	<key>shouldDecodeInkWell</key>
	<string>graphSize</string>
</dict>
</plist>
