<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandwidthCount</key>
	<string>graphicValidation</string>
	<key>directEntity</key>
	<string>uniformModel</string>
	<key>heroindex</key>
	<string>enabledMobile</string>
	<key>lockcurve</key>
	<string>associatedCycle</string>
	<key>newestCube</key>
	<string>threadAction</string>
	<key>pushtransition</key>
	<string>cosineInterpreter</string>
	<key>shouldpersistsession</key>
	<string>accelerateAnimation</string>
	<key>visibleCupertino</key>
	<string>nativeCallback</string>
</dict>
</plist>
