<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTail</key>
	<string>tangentStructure</string>
	<key>cellconstraint</key>
	<string>shouldDisconnectAnimation</string>
	<key>fusedNotation</key>
	<string>disconnectpoint</string>
	<key>joinerSkewY</key>
	<string>smartSorter</string>
	<key>optionindex</key>
	<string>imperativeevent</string>
	<key>shouldDisconnectFragment</key>
	<string>uniquefeature</string>
	<key>specifyTimer</key>
	<string>navigateKernel</string>
	<key>techniquemomentum</key>
	<string>inflateBinary</string>
	<key>textawaypattern</key>
	<string>immutableScroll</string>
	<key>unsortedDispatcher</key>
	<string>flexibleAnimation</string>
</dict>
</plist>
