<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryShape</key>
	<string>canPopSpot</string>
	<key>cartesianAllocator</key>
	<string>radiusVariable</string>
	<key>deferredefficiency</key>
	<string>canSkipClipper</string>
	<key>detaildepth</key>
	<string>criticalDuration</string>
	<key>diffableNorm</key>
	<string>startflex</string>
	<key>listentransition</key>
	<string>criticalInkWell</string>
	<key>prismaticProcessor</key>
	<string>fixedGift</string>
	<key>robustCallback</key>
	<string>shouldDetachSpecifier</string>
	<key>shouldFetchCapacities</key>
	<string>invisiblePriority</string>
	<key>visiblechapter</key>
	<string>aggregatePopup</string>
</dict>
</plist>
