<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificatetint</key>
	<string>poolAsync</string>
	<key>certificatewithtier</key>
	<string>stampspeed</string>
	<key>crucialsizeduration</key>
	<string>tableAlignment</string>
	<key>linkerRate</key>
	<string>canStartPet</string>
	<key>nextCapsule</key>
	<string>popCanvas</string>
	<key>resizableListView</key>
	<string>canProcessConvolution</string>
	<key>responsiveLayout</key>
	<string>resilientSubpixel</string>
	<key>sinkdistance</key>
	<string>setupDependency</string>
	<key>symmetricPadding</key>
	<string>diffableTitle</string>
	<key>widgetimage</key>
	<string>stopImage</string>
</dict>
</plist>
