<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferlayervalidation</key>
	<string>quaternionformat</string>
	<key>ephemeralPresenter</key>
	<string>lostcard</string>
	<key>flexibletaskformat</key>
	<string>gradientaspect</string>
	<key>modelprocessor</key>
	<string>buttonobject</string>
	<key>primaryFragment</key>
	<string>shouldDetachVariant</string>
	<key>shouldNavigateActivity</key>
	<string>concurrentDisclaimer</string>
	<key>standaloneScene</key>
	<string>curveformat</string>
	<key>taskpatternvisibility</key>
	<string>animatedcontainerVisitor</string>
	<key>usedChallenge</key>
	<string>easyloopedge</string>
	<key>utilEdge</key>
	<string>endrow</string>
</dict>
</plist>
