<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoBloc</key>
	<string>iterativeaperturesaturation</string>
	<key>immutableRadius</key>
	<string>equipmentTension</string>
	<key>requiredPosition</key>
	<string>consultativeImpact</string>
	<key>slideranalyzer</key>
	<string>activeswitch</string>
</dict>
</plist>
