<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeevaluation</key>
	<string>actionPattern</string>
	<key>delegateroute</key>
	<string>originalCertificate</string>
	<key>disparateArchitecture</key>
	<string>petEnvironment</string>
	<key>histogramRotation</key>
	<string>canvasPhase</string>
	<key>hyperbolicbuilder</key>
	<string>converterName</string>
	<key>localZone</key>
	<string>buttonValidation</string>
	<key>materialPermutation</key>
	<string>temporaryStorage</string>
	<key>receiveresolver</key>
	<string>interfaceComposite</string>
	<key>sensorinsidemethod</key>
	<string>widgetandstate</string>
	<key>slidervaluedirection</key>
	<string>unregisterPopup</string>
</dict>
</plist>
