<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabottom</key>
	<string>visualizeAwait</string>
	<key>ascentType</key>
	<string>controllerSystem</string>
	<key>displayableStatus</key>
	<string>secondFlex</string>
	<key>relationalEquivalent</key>
	<string>tickerInteraction</string>
	<key>statefulgram</key>
	<string>shouldStartModal</string>
	<key>widgetcontrast</key>
	<string>secondVertex</string>
</dict>
</plist>
