<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderduringfunction</key>
	<string>synchronousAsset</string>
	<key>checkboxShape</key>
	<string>evaluateInteractor</string>
	<key>easyCharacteristic</key>
	<string>unmarshalbloc</string>
	<key>multiCustomPaint</key>
	<string>groupResponse</string>
	<key>navigatorBorder</key>
	<string>paddingSpeed</string>
	<key>scaleshader</key>
	<string>checkboxspacing</string>
	<key>shouldListenSemantics</key>
	<string>missedevaluation</string>
	<key>shouldTransformTangent</key>
	<string>discoverCompleter</string>
	<key>significantBehavior</key>
	<string>binderCoord</string>
	<key>streamlineprogressbar</key>
	<string>shouldProcessTask</string>
</dict>
</plist>
