<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatevariant</key>
	<string>dynamicObject</string>
	<key>aspectratioTag</key>
	<string>primaryAudio</string>
	<key>backwardBloc</key>
	<string>nodedepth</string>
	<key>descriptionShade</key>
	<string>subscriberBound</string>
	<key>inheritedAlignment</key>
	<string>prepareSine</string>
	<key>largeSingleton</key>
	<string>customizedPainter</string>
	<key>shouldFetchSpine</key>
	<string>specifyDistinction</string>
	<key>shouldSerializeNotification</key>
	<string>yieldvector</string>
	<key>shouldhandlesign</key>
	<string>routeAcceleration</string>
	<key>symmetricRadio</key>
	<string>detachpromise</string>
</dict>
</plist>
