<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionTop</key>
	<string>detachParticle</string>
	<key>convolutionanalyzer</key>
	<string>seamlessAnimation</string>
	<key>difficultAnimator</key>
	<string>buildNavigator</string>
	<key>greatSchema</key>
	<string>inheritedRoute</string>
	<key>mobilecluster</key>
	<string>currentDescent</string>
	<key>shouldDisposeScaffold</key>
	<string>disparateTentative</string>
	<key>shouldPausePositioned</key>
	<string>flexnearplatform</string>
	<key>stackHead</key>
	<string>materialResponder</string>
	<key>uniformChecklist</key>
	<string>contractionDecorator</string>
</dict>
</plist>
