<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDelay</key>
	<string>deferredBaseline</string>
	<key>beginnerThreshold</key>
	<string>disposeController</string>
	<key>consultativeConsumer</key>
	<string>lastlistviewedge</string>
	<key>cosineproxydistance</key>
	<string>sizeVariable</string>
	<key>hashskewx</key>
	<string>requiredInformation</string>
	<key>observeracceleration</key>
	<string>profileVisibility</string>
	<key>segmentAcceleration</key>
	<string>stackrow</string>
	<key>semanticLocalization</key>
	<string>shouldPublishSymbol</string>
	<key>shouldFetchBuilder</key>
	<string>handleUtil</string>
</dict>
</plist>
