<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationtransparency</key>
	<string>refreshConfiguration</string>
	<key>appbarcontrast</key>
	<string>temporaryProvider</string>
	<key>blocnavigator</key>
	<string>canUnmountedUsage</string>
	<key>celldepth</key>
	<string>shearRow</string>
	<key>draggableCell</key>
	<string>respondCallback</string>
	<key>ignoredMechanism</key>
	<string>shouldUnmountedMargin</string>
	<key>subtleresourcedelay</key>
	<string>canSkipMap</string>
</dict>
</plist>
