<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetparameterskewx</key>
	<string>ispositioned</string>
	<key>builderTheme</key>
	<string>canLayoutAperture</string>
	<key>currentInjection</key>
	<string>positionVisibility</string>
	<key>impactBottom</key>
	<string>resilientTaxonomy</string>
	<key>largeMap</key>
	<string>errorjobinteraction</string>
	<key>precisionTension</key>
	<string>dedicatedFrame</string>
	<key>protocolslider</key>
	<string>batchTop</string>
	<key>responsiveObject</key>
	<string>subsequentThroughput</string>
	<key>storeContrast</key>
	<string>skinTag</string>
</dict>
</plist>
