<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianchooser</key>
	<string>visibleexpandedacceleration</string>
	<key>composableFuture</key>
	<string>materialAwait</string>
	<key>listenerFrequency</key>
	<string>projectTop</string>
	<key>sinkTension</key>
	<string>sanitizeInterface</string>
	<key>substantialSession</key>
	<string>imperativeLatency</string>
</dict>
</plist>
