<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousDescription</key>
	<string>startInteger</string>
	<key>currentVariant</key>
	<string>shouldDecodeBox</string>
	<key>desktopDescent</key>
	<string>replicateResolver</string>
	<key>maintainlistview</key>
	<string>materialComponent</string>
	<key>maintaskdepth</key>
	<string>requiredisolateleft</string>
	<key>matrixEdge</key>
	<string>retainMetadata</string>
	<key>onstreamtap</key>
	<string>gesturedetectorprototypedensity</string>
</dict>
</plist>
