<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarymodel</key>
	<string>segmentBridge</string>
	<key>defaultinterpolation</key>
	<string>startMargin</string>
	<key>mobileGesture</key>
	<string>stampShade</string>
	<key>responsivePolygon</key>
	<string>chartreplica</string>
	<key>shouldFormatMedia</key>
	<string>activatedCompletion</string>
	<key>statelessvaluesaturation</key>
	<string>keyCoordinator</string>
</dict>
</plist>
