<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoNotation</key>
	<string>largeStatus</string>
	<key>drawerofstructure</key>
	<string>createLocalization</string>
	<key>losslatency</key>
	<string>effectInterpreter</string>
	<key>shouldUnbindBorder</key>
	<string>marginpatternmomentum</string>
</dict>
</plist>
