<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateConstraint</key>
	<string>inkwelledge</string>
	<key>ephemeralBrush</key>
	<string>switchFormat</string>
	<key>grayscaleDirection</key>
	<string>pinchableBullet</string>
	<key>throughputOrientation</key>
	<string>discardedArchitecture</string>
</dict>
</plist>
