<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evaluateskirt</key>
	<string>iterativeConfiguration</string>
	<key>hasshader</key>
	<string>protectedImage</string>
	<key>nativeEmitter</key>
	<string>crucialAccessory</string>
	<key>numericalgroup</key>
	<string>mediumSize</string>
	<key>shouldLoadAnimation</key>
	<string>shouldKeepSine</string>
	<key>shouldMountSpecifier</key>
	<string>missedConfiguration</string>
	<key>shouldObserveLog</key>
	<string>expandedFrequency</string>
	<key>shouldRenderGem</key>
	<string>interactiveSelector</string>
	<key>sinkorigin</key>
	<string>immediateDescription</string>
	<key>swiftscheduler</key>
	<string>tensorTrigger</string>
</dict>
</plist>
