<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultConstraint</key>
	<string>equalizationAdapter</string>
	<key>delicateListener</key>
	<string>themestructurevalidation</string>
	<key>difficultGem</key>
	<string>semanticProfile</string>
	<key>directlyProvider</key>
	<string>certificatepicker</string>
	<key>euclideanEvent</key>
	<string>descriptionSize</string>
	<key>positionAcceleration</key>
	<string>dropdownbuttonParameter</string>
	<key>screenenvironmenttheme</key>
	<string>quitmodulus</string>
	<key>statelessScope</key>
	<string>traversalBehavior</string>
</dict>
</plist>
