<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBaseline</key>
	<string>permissiveEqualization</string>
	<key>directlyExponent</key>
	<string>precisionVelocity</string>
	<key>factorythansystem</key>
	<string>saveExpanded</string>
	<key>inkwellphaseleft</key>
	<string>disparateVector</string>
	<key>mediocreConvolution</key>
	<string>combineCompleter</string>
	<key>projectSkewY</key>
	<string>scrollableChannels</string>
	<key>requiredBatch</key>
	<string>themeCycle</string>
	<key>shoulddisposepageview</key>
	<string>hardEntity</string>
	<key>usedchannels</key>
	<string>oldTaxonomy</string>
</dict>
</plist>
