<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationmargin</key>
	<string>shouldFormatSymbol</string>
	<key>finderForce</key>
	<string>mainChannel</string>
	<key>presentercluster</key>
	<string>canDecodeConstraint</string>
	<key>reactiveNavigation</key>
	<string>sensorhue</string>
	<key>selectedboxshadow</key>
	<string>discardedmomentum</string>
	<key>shouldProcessPromise</key>
	<string>smallCluster</string>
	<key>tappableQuaternion</key>
	<string>segmentTask</string>
	<key>variantsincemediator</key>
	<string>serializesign</string>
</dict>
</plist>
