<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chooserEdge</key>
	<string>arithmeticHead</string>
	<key>columnagainsttemple</key>
	<string>sophisticatedSkirt</string>
	<key>draggableAnalogy</key>
	<string>viewbesidevalue</string>
	<key>fragmentRate</key>
	<string>uniformproviderhead</string>
	<key>hasequipment</key>
	<string>infrastructureMode</string>
	<key>rebuilddecoration</key>
	<string>futurebesideparam</string>
	<key>stopgraphic</key>
	<string>decodeCycle</string>
</dict>
</plist>
