<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalResolver</key>
	<string>disparateRecursion</string>
	<key>disposeasync</key>
	<string>nextContrast</string>
	<key>granularBandwidth</key>
	<string>blocsingletonrate</string>
	<key>onspottap</key>
	<string>subsequentText</string>
	<key>resourceOrientation</key>
	<string>observePlayback</string>
	<key>shouldResumeBox</key>
	<string>sophisticatedTaxonomy</string>
	<key>shouldinflategift</key>
	<string>hierarchicalRow</string>
</dict>
</plist>
