<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredsliderright</key>
	<string>rowdensity</string>
	<key>imperativeEquivalent</key>
	<string>usedObserver</string>
	<key>isPainter</key>
	<string>routerCommand</string>
	<key>meshduration</key>
	<string>persistentBox</string>
	<key>platedensity</key>
	<string>sophisticatedmodule</string>
	<key>servicephasedelay</key>
	<string>rapidScroller</string>
	<key>shouldRestartNotifier</key>
	<string>cubitversusvariable</string>
	<key>standaloneReplica</key>
	<string>stringifyError</string>
	<key>uniformScalability</key>
	<string>modalPosition</string>
</dict>
</plist>
