<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionFormat</key>
	<string>adjustSlider</string>
	<key>graphmechanism</key>
	<string>nodeAlignment</string>
	<key>routeconfiguration</key>
	<string>endBitrate</string>
	<key>subtleAsset</key>
	<string>promiseFunction</string>
</dict>
</plist>
