<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintrotation</key>
	<string>slashcompositehue</string>
	<key>overlayTag</key>
	<string>blocShape</string>
	<key>shouldFormatStateless</key>
	<string>observerVelocity</string>
	<key>stampTheme</key>
	<string>immutableDimension</string>
</dict>
</plist>
