<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentStateful</key>
	<string>checkboxForm</string>
	<key>mediaName</key>
	<string>concatenateFactory</string>
	<key>sineinset</key>
	<string>emitterTension</string>
	<key>symbolstrategypadding</key>
	<string>seguetexture</string>
</dict>
</plist>
