<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustkernel</key>
	<string>similarMaterial</string>
	<key>compositionalPriority</key>
	<string>grainbrightness</string>
	<key>contractionTint</key>
	<string>asynchronouslistviewleft</string>
	<key>easyEquipment</key>
	<string>startBuilder</string>
	<key>invisibleProgressBar</key>
	<string>rapidiconsaturation</string>
	<key>originalError</key>
	<string>trainBitrate</string>
	<key>persistentmarginshade</key>
	<string>uniqueDimension</string>
	<key>resizableAlpha</key>
	<string>durationnumberbehavior</string>
	<key>showstate</key>
	<string>attachcube</string>
	<key>stopgrayscale</key>
	<string>substantialPreview</string>
</dict>
</plist>
