<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredAspectRatio</key>
	<string>liteoptimizer</string>
	<key>intermediateutilappearance</key>
	<string>limitprovider</string>
	<key>smallExponent</key>
	<string>composablehandlerflags</string>
	<key>storeshape</key>
	<string>disabledChooser</string>
	<key>subsequentTheme</key>
	<string>symmetriccallback</string>
	<key>switchBrightness</key>
	<string>shouldpreparecycle</string>
	<key>tensormaterial</key>
	<string>mediocreArchitecture</string>
</dict>
</plist>
