<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticArchitecture</key>
	<string>upgradeProgressBar</string>
	<key>asynchronousAspectRatio</key>
	<string>subscriptionsystemduration</string>
	<key>chartanimation</key>
	<string>immediatePageView</string>
	<key>compositionalChannels</key>
	<string>smartAspect</string>
	<key>missedAxis</key>
	<string>columnTint</string>
	<key>seamlesspopupresponse</key>
	<string>paddingmerger</string>
	<key>shouldDispatchBorder</key>
	<string>resourceDepth</string>
	<key>webLatency</key>
	<string>pageviewCycle</string>
</dict>
</plist>
