<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionDuration</key>
	<string>commonLocalization</string>
	<key>delicateAlignment</key>
	<string>shouldYieldAnimation</string>
	<key>ephemeralReplica</key>
	<string>taskfacaderight</string>
	<key>multiplicationHead</key>
	<string>canUnmountedResource</string>
	<key>pinchableBaseline</key>
	<string>shouldKeepExpanded</string>
	<key>richtextvisitorlocation</key>
	<string>shouldEndNavigation</string>
	<key>robustReduction</key>
	<string>observeProject</string>
	<key>unsortedCharacter</key>
	<string>shouldTransformMedia</string>
</dict>
</plist>
