<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorScale</key>
	<string>disparateStack</string>
	<key>aspectratioBorder</key>
	<string>shouldmountprecision</string>
	<key>finderShape</key>
	<string>mutableColor</string>
	<key>hasworkflow</key>
	<string>nodeTier</string>
	<key>smallAlert</key>
	<string>draggableReliability</string>
	<key>timeKind</key>
	<string>notifierEdge</string>
</dict>
</plist>
