<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chaptertheme</key>
	<string>composableVolume</string>
	<key>displayableconsumermargin</key>
	<string>fetchContainer</string>
	<key>inactiverequest</key>
	<string>emitlogarithm</string>
	<key>normalCurve</key>
	<string>subscriptionCenter</string>
	<key>previewStyle</key>
	<string>paintDuration</string>
	<key>rapidexponent</key>
	<string>firstInterpolation</string>
</dict>
</plist>
