<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarypertask</key>
	<string>precisionvelocity</string>
	<key>elasticQueue</key>
	<string>invisibleVolume</string>
	<key>immutableInteraction</key>
	<string>missedGestureDetector</string>
	<key>materialdata</key>
	<string>completedPlayback</string>
	<key>multiSprite</key>
	<string>descriptionvaralignment</string>
	<key>providerow</key>
	<string>unmountedDropdownButton</string>
	<key>themeBorder</key>
	<string>staticIntensity</string>
	<key>tickerShape</key>
	<string>statelessTicker</string>
	<key>visiblechecklisttop</key>
	<string>elasticJoiner</string>
</dict>
</plist>
