<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicPoint</key>
	<string>loopFlags</string>
	<key>mainsample</key>
	<string>binaryNumber</string>
	<key>monsterPosition</key>
	<string>shouldSkipStep</string>
	<key>previewstylecoord</key>
	<string>pinchablesliderstyle</string>
	<key>rapidScope</key>
	<string>hashincludeproxy</string>
	<key>shouldProcessInteger</key>
	<string>seamlessCursor</string>
	<key>substantiallayoutvalidation</key>
	<string>utilTransparency</string>
	<key>unmountedtext</key>
	<string>originalDetector</string>
</dict>
</plist>
