<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGesture</key>
	<string>canPopScale</string>
	<key>customizedAnalyzer</key>
	<string>shearTopic</string>
	<key>deactivatecursor</key>
	<string>primaryTriangles</string>
	<key>ignoredwidget</key>
	<string>seguejobhue</string>
	<key>shouldTransitionRow</key>
	<string>autoCustomPaint</string>
	<key>upgradewidget</key>
	<string>selectedNavigation</string>
</dict>
</plist>
