<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopMaster</key>
	<string>detachNotifier</string>
	<key>functionalImage</key>
	<string>providerKind</string>
	<key>futurevalidation</key>
	<string>shouldPushCurve</string>
	<key>localizationandlevel</key>
	<string>quantizationOffset</string>
	<key>scalabilitytail</key>
	<string>cardMethod</string>
	<key>shouldCacheContainer</key>
	<string>scaleVisibility</string>
	<key>subpixelStatus</key>
	<string>borderOpacity</string>
	<key>subtleDimension</key>
	<string>poolparticle</string>
	<key>toolHue</key>
	<string>canLayoutTechnique</string>
	<key>transformerRotation</key>
	<string>linkerSpacing</string>
</dict>
</plist>
