<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultParticle</key>
	<string>shouldUnmountedDuration</string>
	<key>dimensionEdge</key>
	<string>multiMargin</string>
	<key>interpolationmementocount</key>
	<string>endFlex</string>
	<key>joinerAppearance</key>
	<string>baselinePattern</string>
	<key>operationacceleration</key>
	<string>semanticsFramework</string>
	<key>resourceVisible</key>
	<string>mitigateResult</string>
	<key>scalabilityDirection</key>
	<string>canMountedNotification</string>
	<key>similarTabBar</key>
	<string>spritevisibility</string>
	<key>throughputDistance</key>
	<string>resolveInterface</string>
	<key>usecasename</key>
	<string>observerColor</string>
</dict>
</plist>
