<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleVector</key>
	<string>scalabilityHue</string>
	<key>easydurationvisibility</key>
	<string>shaderFunction</string>
	<key>integersaturation</key>
	<string>respectivetangentstate</string>
	<key>interactiveComponent</key>
	<string>tabbaruntilsystem</string>
	<key>lifecycleMargin</key>
	<string>meshDistance</string>
	<key>preparegesture</key>
	<string>disparaterow</string>
	<key>primaryCollection</key>
	<string>mergerScale</string>
	<key>reusableThreshold</key>
	<string>concreteException</string>
	<key>uniqueSwitch</key>
	<string>keyScalability</string>
	<key>updatescroll</key>
	<string>pushEffect</string>
</dict>
</plist>
